Smart AI Inventory Manager webhook.json
{
  "name": "Smart AI Inventory Manager",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "e853f2e8-08f8-473e-a836-c725420acda4",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        -2064,
        288
      ],
      "id": "e5dbdcd5-effd-4ee3-9300-eb09762a26c6",
      "name": "When chat message received",
      "webhookId": "e853f2e8-08f8-473e-a836-c725420acda4"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst results = [];\n\nfor (const inputItem of items) {\n  const item = inputItem.json;\n\n  // Non-stock_check batch types pass through untouched\n  if (item.batch_type !== 'stock_check') {\n    results.push({ json: item });\n    continue;\n  }\n\n  const products = (item.batch && item.batch.p) || [];\n\n  // Convert stock_check -> sales directly\n  // NOTE: Prepare Sales Items node ALREADY validates live stock from Google Sheet\n  // and blocks sale if stock is 0. No need to validate here using agent's stock values.\n  const salesBatch = products.map(p => ({\n    sku_id:        p.sku ?? p.sku_id,\n    product_name:  p.n   ?? p.product_name,\n    quantity_sold: String(parseInt(String(p.r ?? p.requested_qty ?? 0).replace(/[^0-9]/g, '')) || 0)\n  }));\n\n  if (salesBatch.length === 0) {\n    results.push({ json: { batch_type: 'none', output: item.output || '', batch: [], batch_count: 0 } });\n    continue;\n  }\n\n  results.push({ json: {\n    batch_type:  'sales',\n    output:      item.output || '',\n    batch: {\n      sn: (item.batch && item.batch.sn) || '',\n      sc: (item.batch && item.batch.sc) || '',\n      p:  salesBatch\n    },\n    batch_count: salesBatch.length\n  }});\n}\n\nreturn results;\n"
      },
      "id": "07c590ae-df2e-4f0e-b39f-7c3d0a3425f2",
      "name": "Verify Stock Check",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -448,
        288
      ],
      "notes": "FIX: Converts stock_check → sales. Stock validation handled by Prepare Sales Items which reads LIVE sheet data. Agent stock values ignored."
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\n\nconst saleWords = ['becha','beche','bechdiya','bech','sell','sold','sale','nikala','diya'];\nconst purchaseWords = ['kharida','kharide','kharidi','purchase','order','mangaya','aaya','liya','mangwaya'];\n\nfunction hasWord(str, words) {\n  return words.some(w => {\n    const re = new RegExp('\\\\b' + w + '\\\\b', 'i');\n    return re.test(str);\n  });\n}\n\nreturn items.map(item => {\n  const text = (item.json.chatInput || '').toString();\n  const saleMatch = hasWord(text, saleWords);\n  const purchaseMatch = hasWord(text, purchaseWords);\n\n  let hint = 'NO_KEYWORD_DETECTED';\n  if (saleMatch && !purchaseMatch) hint = 'SALE_KEYWORD_DETECTED';\n  else if (purchaseMatch && !saleMatch) hint = 'PURCHASE_KEYWORD_DETECTED';\n  else if (saleMatch && purchaseMatch) hint = 'AMBIGUOUS_BOTH_KEYWORDS_DETECTED';\n\n  return { json: { ...item.json, keyword_hint: hint } };\n});"
      },
      "id": "f12582fa-9b77-4ef2-bd64-22716c5a4b93",
      "name": "Detect Transaction Keyword",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1616,
        288
      ],
      "notes": "BUG FIX: Deterministically detects SALE/PURCHASE keyword in the CURRENT raw message only (never chat history). Injects keyword_hint so the AI Agent doesn't have to rely on memory/judgement for transaction-type detection."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "options": {}
      },
      "id": "dc891f56-8240-4685-9df5-daca716efc77",
      "name": "Get Live Stock Sales1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        224,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "SALE FIX: Live read of Inventory Master so Prepare Sales Items uses REAL current_stock from sheet, never from AI agent output."
    },
    {
      "parameters": {
        "jsCode": "return $('Prepare Batch Items1').all();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        384
      ],
      "id": "04875a90-b5e4-4a13-bb26-a5b5d996d439",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "const prepItems = $('Prepare Purchase Items1').all();\nconst items = $input.first().json.products || [];\nconst total = items.length;\n\nconst preview = items.slice(0,10).map((p, i) => {\n  const name  = p.product_name || p.sku_id || '?';\n  const stock = (p.current_stock !== undefined && p.current_stock !== '') ? p.current_stock : '?';\n\n  // quantity_ordered survives in Prepare Purchase Items, not in aggregated Sheets output\n  let qty = '?';\n  if (prepItems[i]) {\n    const pre = prepItems[i].json;\n    qty = (pre.quantity_ordered && pre.quantity_ordered !== '0' && pre.quantity_ordered !== '')\n          ? pre.quantity_ordered\n          : '?';\n  }\n\n  const pre = prepItems[i] ? prepItems[i].json : {};\n  const cost     = pre.price_at_purchase && pre.price_at_purchase !== '0' ? ` | Cost: ₹${pre.price_at_purchase}` : '';\n  const totalCst = pre.total_cost && pre.total_cost !== '0' ? ` | Total: ₹${pre.total_cost}` : '';\n  return `• ${name} — Ordered: ${qty} | New Stock: ${stock}${cost}${totalCst}`;\n}).join('\\n');\n\nconst more = total > 10 ? `\\n...and ${total-10} more products` : '';\nreturn [{json:{output:`✅ ${total} product(s) ka purchase record ho gaya!\\n\\n${preview}${more}\\n\\n📦 Inventory updated\\n📋 PO Tracker updated`}}];"
      },
      "id": "98615e1a-e464-4de8-9c9b-58d04b78775d",
      "name": "Format Purchase Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        192
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1479015993,
          "mode": "list",
          "cachedResultName": "PO Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1479015993"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "po_number",
              "displayName": "po_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity_ordered",
              "displayName": "quantity_ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "po_date",
              "displayName": "po_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated_delivery",
              "displayName": "estimated_delivery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "forecasted_demand",
              "displayName": "forecasted_demand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "po_status",
              "displayName": "po_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days_until_stockout",
              "displayName": "days_until_stockout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_added",
              "displayName": "stock_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_added_at",
              "displayName": "stock_added_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_contact_number",
              "displayName": "supplier_contact_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_at_purchase",
              "displayName": "price_at_purchase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "b045940a-1719-4ae3-9111-bd9661eccd48",
      "name": "Append PO Tracker Purchase1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        896,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL: Full PO row per item. ALL columns populated. Never blank."
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sku_id": "={{ $json.sku_id }}",
            "product_name": "={{ $json.product_name }}",
            "current_stock": "={{ $json.current_stock }}",
            "category": "={{ $json.category }}",
            "last_updated": "={{ $json.last_updated }}",
            "row_number": 0,
            "created_at": "={{ $json.created_at }}",
            "cost_price": "={{ $json.cost_price }}",
            "selling_price": "={{ $json.selling_price }}"
          },
          "matchingColumns": [
            "sku_id"
          ],
          "schema": [
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selling_price",
              "displayName": "selling_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "e8adcb6f-93fc-4595-b582-7346cf930cab",
      "name": "Update Inventory Purchase1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL: Adds ordered qty to stock. Match by sku_id."
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Route Batch Type1').first().json.batch;\nconst liveRows = $('Get Live Stock Purchase1').all().map(i => i.json);\nconst liveMap_sku = {};\nconst liveMap_name = {};\nfor (const r of liveRows) {\n  if (r.sku_id) liveMap_sku[r.sku_id] = r;\n  if (r.product_name) {\n    const norm = String(r.product_name || '').toLowerCase().replace(/[^a-z0-9]/g, '').trim();\n    liveMap_name[norm] = r;\n  }\n}\n\nconst today = new Date().toISOString().split('T')[0];\nconst ts    = new Date().toISOString();\nlet items, sn, sc;\nif (Array.isArray(raw)) {\n  items=raw; sn=''; sc='';\n} else {\n  sn=raw.sn||''; sc=String(raw.sc||''); items=raw.p||[];\n}\n\nif (!items || items.length === 0) {\n  throw new Error('EMPTY_PURCHASE_BATCH: no items recovered from agent output');\n}\n\nreturn items.map((p,i) => {\n  let sku, name, qtyOrdered, cat;\n  if (Array.isArray(p)) {\n    sku        = p[0];\n    name       = p[1];\n    qtyOrdered = p[2];\n    cat = p[4] || 'General';\n  } else {\n    sku=p.sku_id; name=p.product_name||p.sku_id;\n    qtyOrdered=p.quantity_ordered;\n    cat=p.category||'General';\n    sn=p.supplier_name||sn; sc=String(p.supplier_contact_number||sc);\n  }\n\n  qtyOrdered = (qtyOrdered !== null && qtyOrdered !== undefined && qtyOrdered !== '' && qtyOrdered !== '?')\n               ? (parseInt(String(qtyOrdered).replace(/[^0-9]/g,'')) || 0)\n               : 0;\n  name = name || sku || 'Unknown';\n\n  // ROOT-CAUSE FIX: current_stock comes from a fresh live sheet read, NEVER from the agent's own text output.\n  // FALLBACK FIX: if the agent's sku_id doesn't exactly match the live sheet (e.g. it drifted from\n  // chat memory instead of being copied fresh from a tool call this transaction — wrong case, a typo,\n  // a reconstructed/hyphenated guess, stale value, etc.), fall back to a normalized product-name\n  // match before giving up. This mirrors the same safety net Prepare Batch Items1 already uses for\n  // the opposite mismatch (existing product wrongly routed as unmatched).\n  const normName = String(name || '').toLowerCase().replace(/[^a-z0-9]/g, '').trim();\n  const live = (sku && liveMap_sku[sku]) || liveMap_name[normName];\n\n  // GRACEFUL FALLBACK: product not in sheet yet — treat as new product (generate SKU)\n  let resolvedSku, resolvedName, liveStock;\n  if (live) {\n    resolvedSku  = live.sku_id;\n    resolvedName = live.product_name || name;\n    liveStock    = parseInt(String(live.current_stock).replace(/[^0-9]/g,'')) || 0;\n  } else {\n    resolvedSku  = sku || ('SKU-' + String(name || 'PRODUCT').toUpperCase().replace(/[^A-Z0-9]/g,'').slice(0,18) + '-' + String(i+1).padStart(4,'0'));\n    resolvedName = name;\n    liveStock    = 0;\n  }\n  const newStock = liveStock + qtyOrdered;\n\n  // FIX: created_at was missing entirely from this object, leaving the PO Tracker's\n  // created_at column blank for every \"SENT\" (existing-product reorder) row, even though\n  // the \"ORDERED\" (new-product) path already fills it. Reuse the product's original\n  // created_at if it already exists in the live sheet, otherwise fall back to today.\n  const resolvedCreatedAt = (live && live.created_at) ? live.created_at : today;\n\n  // Extract price_at_purchase from batch index 5\n  let priceAtPurchase = 0;\n  if (Array.isArray(p) && p[5] !== undefined && p[5] !== null && p[5] !== '') {\n    priceAtPurchase = parseFloat(String(p[5]).replace(/[^0-9.]/g,'')) || 0;\n  } else if (p && p.price_at_purchase !== undefined) {\n    priceAtPurchase = parseFloat(String(p.price_at_purchase).replace(/[^0-9.]/g,'')) || 0;\n  }\n  const totalCost = priceAtPurchase * qtyOrdered;\n\n  return {json:{\n    sku_id:                 resolvedSku,\n    product_name:           resolvedName,\n    quantity_ordered:       String(qtyOrdered),\n    current_stock:          String(newStock),\n    category:               cat,\n    supplier_name:          sn,\n    supplier_contact_number:sc,\n    created_at:             resolvedCreatedAt,\n    po_number:              `PO-${today.replace(/-/g,'')}-${String(i+1).padStart(4,'0')}`,\n    po_date:                today,\n    estimated_delivery:     today,\n    po_status:              'SENT',\n    forecasted_demand:      '0',\n    days_until_stockout:    '0',\n    stock_added:            'NO',\n    stock_added_at:         '',\n    delivery_datetime:      '',\n    last_updated:           ts,\n    price_at_purchase:      String(priceAtPurchase),\n    total_cost:             String(totalCost)\n  }};\n});"
      },
      "id": "79730ad7-0246-4b89-b9b6-891c1f0c3ed8",
      "name": "Prepare Purchase Items1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        192
      ],
      "notes": "Splits %%PURCHASE_BATCH%% into N items. Calculates new_stock = current + ordered."
    },
    {
      "parameters": {
        "jsCode": "const prepItems = $('Prepare Sales Items1').all();\nconst items = $input.first().json.products || [];\nconst total = items.length;\n\n// ZERO STOCK / SKU NOT FOUND: if ALL prep items are blocked, return user-friendly error\nconst blockedItems = prepItems.filter(i => i.json.__blocked === true);\nif (blockedItems.length > 0 && blockedItems.length === prepItems.length) {\n  const msgs = blockedItems.map(i => i.json._block_msg).filter(Boolean).join('\\n');\n  return [{json:{output: msgs || '\\u274C Sale block ho gayi. Stock check karein.'}}];\n}\n\n// Mixed batch: some blocked, some valid\nconst validPrepItems = prepItems.filter(i => !i.json.__blocked);\nconst validItems = items.filter(i => i.status !== 'BLOCKED');\nconst processedTotal = validItems.length || validPrepItems.length;\n\nconst preview = validItems.slice(0,10).map((p, i) => {\n  const name  = p.product_name || p.sku_id || '?';\n  const stock = (p.current_stock !== undefined && p.current_stock !== '') ? p.current_stock : '?';\n  let qty = '?';\n  if (validPrepItems[i]) {\n    const pre = validPrepItems[i].json;\n    qty = (pre.quantity_sold && pre.quantity_sold !== '0' && pre.quantity_sold !== '')\n          ? pre.quantity_sold\n          : (pre.stock_deducted && pre.stock_deducted !== '0' ? pre.stock_deducted : '\\u26A00');\n  }\n  const pre2 = validPrepItems[i] ? validPrepItems[i].json : {};\n  const sPrice = pre2.price_at_sale && pre2.price_at_sale !== '0' ? ` | Price: ₹${pre2.price_at_sale}` : '';\n  const sTotal = pre2.total_amount  && pre2.total_amount  !== '0' ? ` | Total: ₹${pre2.total_amount}`  : '';\n  return `\\u2022 ${name} \\u2014 Sold: ${qty} | Remaining: ${stock}${sPrice}${sTotal}`;\n}).join('\\n');\n\nconst more = processedTotal > 10 ? `\\n...and ${processedTotal-10} more products` : '';\n\n// Note any blocked items in a mixed batch\nlet blockedNote = '';\nif (blockedItems.length > 0) {\n  const blockedMsgs = blockedItems.map(i => i.json._block_msg).filter(Boolean).join('\\n');\n  blockedNote = `\\n\\n\\u26A0\\uFE0F Kuch items block hue:\\n${blockedMsgs}`;\n}\n\nreturn [{json:{output:`\\u2705 ${processedTotal} product(s) ka sale record ho gaya!\\n\\n${preview}${more}\\n\\n\\uD83D\\uDCCA Sales Log updated\\n\\uD83D\\uDCE6 Inventory updated${blockedNote}`}}];"
      },
      "id": "f80084a9-fe5c-4e10-8427-409283012d32",
      "name": "Format Sales Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        0
      ]
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "products",
        "options": {}
      },
      "id": "2afaf1c1-0ff1-41dc-8978-b2264df9378f",
      "name": "Aggregate Sales Results1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        0
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "update",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sku_id": "={{ $json.sku_id }}",
            "product_name": "={{ $json.product_name }}",
            "current_stock": "={{ $json.current_stock }}",
            "category": "={{ $json.category }}",
            "last_updated": "={{ $json.last_updated }}",
            "row_number": 0,
            "created_at": "={{ $json.created_at }}"
          },
          "matchingColumns": [
            "sku_id"
          ],
          "schema": [
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "row_number",
              "displayName": "row_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "readOnly": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "9ca0fefb-3522-4119-8b93-c2b7549f03bf",
      "name": "Update Inventory Sales1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        896,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL: Deducts stock after sale. Match by sku_id. Uses new_stock = current - sold."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 488846101,
          "mode": "list",
          "cachedResultName": "Sales Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=488846101"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity_sold",
              "displayName": "quantity_sold",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sale_date",
              "displayName": "sale_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "source",
              "displayName": "source",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "chat_id",
              "displayName": "chat_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_deducted",
              "displayName": "stock_deducted",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "processed_at",
              "displayName": "processed_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "message_text",
              "displayName": "message_text",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sale_datetime",
              "displayName": "sale_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "new_stock",
              "displayName": "new_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_at_sale",
              "displayName": "price_at_sale",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_amount",
              "displayName": "total_amount",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "2c7ab11e-346a-4815-98c4-470d49dcf909",
      "name": "Append Sales Log Structural1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        0
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL: One Sales Log row per item. Guaranteed N rows for N products."
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Route Batch Type1').first().json.batch;\nconst today = new Date().toISOString().split('T')[0];\nconst ts    = new Date().toISOString();\nconst items = Array.isArray(raw) ? raw : (raw && raw.p ? raw.p : []);\n\n// SOFT ERROR instead of throw — empty batch\nif (!items || items.length === 0) {\n  return [{json:{\n    __blocked: true,\n    _block_msg: '⚠️ Koi product nahi mila sale karne ke liye. Dobara try karein.',\n    sku_id:'', product_name:'', category:'General',\n    quantity_sold:'0', sale_date:today, source:'Chat', chat_id:'',\n    stock_deducted:'0', processed_at:ts, message_text:'EMPTY_SALES_BATCH',\n    sale_datetime:ts, status:'BLOCKED', new_stock:'0', current_stock:'0', last_updated:ts\n  }}];\n}\n\n// Load live stock from sheet — NEVER trust the AI agent's stock number\nconst liveRows = $('Get Live Stock Sales1').all().map(i => i.json);\nconst liveMap = {};\nfor (const r of liveRows) {\n  if (r.sku_id) liveMap[r.sku_id] = r;\n}\n\nreturn items.map(p => {\n  let sku, name, qtySold, cat;\n  if (Array.isArray(p)) {\n    sku     = p[0];\n    name    = p[1];\n    qtySold = p[2];\n    cat     = p[4] || 'General';\n  } else {\n    sku=p.sku_id; name=p.product_name||p.sku_id; qtySold=p.quantity_sold;\n    cat=p.category||'General';\n  }\n\n  qtySold = (qtySold !== null && qtySold !== undefined && qtySold !== '' && qtySold !== '?')\n            ? (parseInt(String(qtySold).replace(/[^0-9]/g,'')) || 0)\n            : 0;\n  name = name || sku || 'Unknown';\n  cat  = (cat && cat !== 'undefined' && cat !== '') ? cat : 'General';\n\n  // FIX: Get REAL stock from live sheet — ignore AI agent's claimed stock value\n  const live = liveMap[sku];\n  if (!live) {\n    // SOFT ERROR instead of throw — SKU not found\n    return {json:{\n      __blocked: true,\n      _block_msg: `\\u274C \"${name}\" inventory mein exist nahi karta. Pehle purchase karein.`,\n      sku_id:sku||'', product_name:name, category:cat,\n      quantity_sold:'0', sale_date:today, source:'Chat', chat_id:'',\n      stock_deducted:'0', processed_at:ts, message_text:`SKU_NOT_FOUND: ${sku}`,\n      sale_datetime:ts, status:'BLOCKED', new_stock:'0', current_stock:'0', last_updated:ts\n    }};\n  }\n\n  // Preserve category from sheet if agent didn't send one\n  if (!cat || cat === 'General') {\n    cat = live.category || 'General';\n  }\n\n  const liveStock = parseInt(String(live.current_stock).replace(/[^0-9]/g,'')) || 0;\n\n  // SOFT ERROR instead of throw — zero stock block\n  if (liveStock <= 0) {\n    return {json:{\n      __blocked: true,\n      _block_msg: `\\u274C \"${name}\" ka current stock 0 hai. Sale nahi ho sakti. Pehle purchase karein.`,\n      sku_id:sku, product_name:name, category:cat,\n      quantity_sold:'0', sale_date:today, source:'Chat', chat_id:'',\n      stock_deducted:'0', processed_at:ts, message_text:`ZERO_STOCK_BLOCK: ${name}`,\n      sale_datetime:ts, status:'BLOCKED', new_stock:String(liveStock), current_stock:String(liveStock), last_updated:ts\n    }};\n  }\n\n  // Safety cap: can't sell more than available\n  const safeQty  = qtySold > liveStock ? liveStock : qtySold;\n  const newStock = String(Math.max(0, liveStock - safeQty));\n\n  // Extract price_at_sale from batch index 5\n  let priceAtSale = 0;\n  if (Array.isArray(p) && p[5] !== undefined && p[5] !== null && p[5] !== '') {\n    priceAtSale = parseFloat(String(p[5]).replace(/[^0-9.]/g,'')) || 0;\n  } else if (p && p.price_at_sale !== undefined) {\n    priceAtSale = parseFloat(String(p.price_at_sale).replace(/[^0-9.]/g,'')) || 0;\n  }\n  const totalAmount = priceAtSale * safeQty;\n\n  return {json:{\n    sku_id:        sku,\n    product_name:  name,\n    category:      cat,\n    quantity_sold: String(safeQty),\n    sale_date:     today,\n    source:        'Chat',\n    chat_id:       '',\n    stock_deducted:String(safeQty),\n    processed_at:  ts,\n    message_text:  `${name} - ${safeQty} units sold`,\n    sale_datetime: ts,\n    status:        'PROCESSED',\n    new_stock:     newStock,\n    current_stock: newStock,\n    last_updated:  ts,\n    price_at_sale: String(priceAtSale),\n    total_amount:  String(totalAmount)\n  }};\n});"
      },
      "id": "f00d7abd-452a-4d9a-8252-8a1451c27508",
      "name": "Prepare Sales Items1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        0
      ],
      "notes": "ZERO_STOCK_BLOCK FIX: returns soft-error items instead of throwing. Workflow never crashes; blocked items flow through to Format Sales Response which returns user-friendly message."
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "3f69c210-ae54-481a-86f1-b667b094d6d2",
                    "leftValue": "={{ $json.batch_type }}",
                    "rightValue": "unmatched",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "ba73c065-22b1-4351-80a6-075cfd066148",
                    "leftValue": "={{ $json.batch_type }}",
                    "rightValue": "sales",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "a796ff2a-b62b-423a-be31-9e5237996e72",
                    "leftValue": "={{ $json.batch_type }}",
                    "rightValue": "purchase",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "1d58563f-79d8-48c1-90d8-a1c0da0100b2",
                    "leftValue": "={{ $json.batch_type }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {
          "fallbackOutput": "extra"
        }
      },
      "id": "ea14902b-de19-484b-8811-2e25d6c48a17",
      "name": "Route Batch Type1",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -224,
        240
      ],
      "notes": "Routes to: 0=unmatched(new), 1=sales, 2=purchase, fallback=conversational"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.products || [];\nconst total = items.length;\nconst preview = items.slice(0,10).map(p => {\n  const name    = p.product_name || p.sku_id || '?';\n  const cost    = p.cost_price    && p.cost_price    !== '0' ? ` | Cost: ₹${p.cost_price}`    : '';\n  const selling = p.selling_price && p.selling_price !== '0' ? ` | Selling: ₹${p.selling_price}` : '';\n  return `• ${name} (Qty: ${p.current_stock})${cost}${selling}`;\n}).join('\\n');\nconst more = total > 10 ? `\\n...and ${total-10} more products` : '';\nreturn [{json:{output:`✅ ${total}/${total} naye products inventory mein add ho gaye!\\n\\n${preview}${more}\\n\\n📦 Inventory Master → Updated\\n📋 PO Tracker → Updated`}}];"
      },
      "id": "53a3c1c0-9da3-444b-9107-99a306778791",
      "name": "Format Success Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1344,
        384
      ],
      "notes": "Runs once after all N products processed. Returns friendly summary for chat."
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "products",
        "options": {}
      },
      "id": "523df2a4-31fa-4694-9c42-7bcb7cc4b911",
      "name": "Aggregate Results1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        384
      ],
      "alwaysOutputData": true,
      "notes": "Collects all N processed items into one item for final response formatting."
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1479015993,
          "mode": "list",
          "cachedResultName": "PO Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1479015993"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "po_number",
              "displayName": "po_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "quantity_ordered",
              "displayName": "quantity_ordered",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "po_date",
              "displayName": "po_date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "estimated_delivery",
              "displayName": "estimated_delivery",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "forecasted_demand",
              "displayName": "forecasted_demand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "po_status",
              "displayName": "po_status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "days_until_stockout",
              "displayName": "days_until_stockout",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_added",
              "displayName": "stock_added",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "stock_added_at",
              "displayName": "stock_added_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "delivery_datetime",
              "displayName": "delivery_datetime",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_name",
              "displayName": "supplier_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "supplier_contact_number",
              "displayName": "supplier_contact_number",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selling_price",
              "displayName": "selling_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "price_at_purchase",
              "displayName": "price_at_purchase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "total_cost",
              "displayName": "total_cost",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "id": "e817accb-e81c-40a4-881c-d6467d8458f2",
      "name": "Log PO Structural1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        896,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL LOOP: Appends PO record to PO Tracker per product."
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sku_id": "={{ $json.sku_id }}",
            "product_name": "={{ $json.product_name }}",
            "current_stock": "={{ $json.current_stock }}",
            "category": "={{ $json.category }}",
            "created_at": "={{ $json.created_at }}",
            "last_updated": "={{ $json.last_updated }}",
            "cost_price": "={{ $json.cost_price }}",
            "selling_price": "={{ $json.selling_price }}"
          },
          "matchingColumns": [
            "sku_id"
          ],
          "schema": [
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "cost_price",
              "displayName": "cost_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "selling_price",
              "displayName": "selling_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "30d73244-65b2-4fdb-a3a3-d34b6060e56d",
      "name": "Add Inventory Structural1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL LOOP: Appends one NEW product row per item. n8n auto-repeats for all N items."
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Route Batch Type1').first().json.batch;\nconst today = new Date().toISOString().split('T')[0];\nconst ts    = new Date().toISOString();\nlet items, sn, sc;\nif (!raw) {\n  items = []; sn = ''; sc = '';\n} else if (Array.isArray(raw)) {\n  items = raw; sn=''; sc='';\n} else {\n  sn = raw.sn||''; sc = String(raw.sc||''); items = raw.p||[];\n}\n\n// FIX: Instead of throwing error, return empty pass-through so workflow doesn't crash\nif (!items || items.length === 0) {\n  return [{json:{\n    sku_id: '',\n    product_name: '',\n    current_stock: '0',\n    category: '',\n    supplier_name: sn,\n    supplier_contact_number: sc,\n    _empty_batch: true,\n    _reason: 'EMPTY_UNMATCHED_BATCH: no items recovered from agent output'\n  }}];\n}\n\n// Build live sheet lookup by BOTH sku_id and normalized product_name\nlet liveMap_sku  = {};\nlet liveMap_name = {};\n\ntry {\n  const liveRows = $('Get Live Stock Unmatched1').all().map(i => i.json);\n  for (const r of liveRows) {\n    if (r.sku_id) liveMap_sku[r.sku_id] = r;\n    if (r.product_name) {\n      const norm = String(r.product_name || '').toLowerCase().replace(/[^a-z0-9]/g, '').trim();\n      liveMap_name[norm] = r;\n    }\n  }\n} catch(e) { /* live read not in this path */ }\n\nreturn items.map((p, i) => {\n  let name, qty, sku, cat;\n  if (Array.isArray(p)) {\n    [name, qty] = p;\n    qty = parseInt(qty) || 50;\n    cat = p[2] || 'General';\n  } else {\n    sku  = p.sku_id;\n    name = p.product_name || p.sku_id;\n    qty  = parseInt(p.current_stock ?? p.quantity_ordered ?? 50) || 50;\n    cat  = p.category || 'General';\n    sn   = p.supplier_name || sn;\n    sc   = String(p.supplier_contact_number || sc);\n  }\n  name = name || sku || 'Unknown';\n  cat  = (cat && cat !== 'undefined' && cat !== '') ? cat : 'General';\n\n  const normName = String(name || '').toLowerCase().replace(/[^a-z0-9]/g, '').trim();\n  const existingByName = liveMap_name[normName];\n  const existingBySku  = sku ? liveMap_sku[sku] : null;\n  const existing = existingBySku || existingByName;\n\n  if (existing) {\n    const realSku   = existing.sku_id;\n    const realCat   = existing.category || cat;\n    const liveStock = parseInt(String(existing.current_stock).replace(/[^0-9]/g,'')) || 0;\n    const newStock  = liveStock + qty;\n\n    let costPrice = 0, sellingPrice = 0;\n    if (Array.isArray(p)) {\n      costPrice    = parseFloat(String(p[3]||0).replace(/[^0-9.]/g,''))||0;\n      sellingPrice = parseFloat(String(p[4]||0).replace(/[^0-9.]/g,''))||0;\n    } else {\n      costPrice    = parseFloat(String(p.cost_price   ||0).replace(/[^0-9.]/g,''))||0;\n      sellingPrice = parseFloat(String(p.selling_price||0).replace(/[^0-9.]/g,''))||0;\n    }\n    return {json:{\n      sku_id:                 realSku,\n      product_name:           existing.product_name || name,\n      current_stock:          String(newStock),\n      category:               realCat,\n      supplier_name:          sn,\n      supplier_contact_number:sc,\n      created_at:             existing.created_at || today,\n      last_updated:           ts,\n      po_number:              `PO-${today.replace(/-/g,'')}-${String(i+1).padStart(4,'0')}`,\n      quantity_ordered:       String(qty),\n      po_date:                today,\n      estimated_delivery:     today,\n      po_status:              'ORDERED',\n      forecasted_demand:      '0',\n      days_until_stockout:    '0',\n      stock_added:            'YES',\n      stock_added_at:         ts,\n      delivery_datetime:      ts,\n      cost_price:             String(costPrice),\n      selling_price:          String(sellingPrice),\n      price_at_purchase:      String(costPrice),\n      total_cost:             String(costPrice * qty)\n    }};\n  }\n\n  if (!sku) {\n    sku = 'SKU-' + name.toUpperCase().replace(/[^A-Z0-9]/g,'').slice(0,18) + '-' + String(i+1).padStart(4,'0');\n  }\n  let costPrice2 = 0, sellingPrice2 = 0;\n  if (Array.isArray(p)) {\n    costPrice2    = parseFloat(String(p[3]||0).replace(/[^0-9.]/g,''))||0;\n    sellingPrice2 = parseFloat(String(p[4]||0).replace(/[^0-9.]/g,''))||0;\n  } else {\n    costPrice2    = parseFloat(String(p.cost_price   ||0).replace(/[^0-9.]/g,''))||0;\n    sellingPrice2 = parseFloat(String(p.selling_price||0).replace(/[^0-9.]/g,''))||0;\n  }\n  return {json:{\n    sku_id:                 sku,\n    product_name:           name,\n    current_stock:          String(qty),\n    category:               cat,\n    supplier_name:          sn,\n    supplier_contact_number:sc,\n    created_at:             today,\n    last_updated:           ts,\n    po_number:              `PO-${today.replace(/-/g,'')}-${String(i+1).padStart(4,'0')}`,\n    quantity_ordered:       String(qty),\n    po_date:                today,\n    estimated_delivery:     today,\n    po_status:              'ORDERED',\n    forecasted_demand:      '0',\n    days_until_stockout:    '0',\n    stock_added:            'YES',\n    stock_added_at:         ts,\n    delivery_datetime:      ts,\n    cost_price:             String(costPrice2),\n    selling_price:          String(sellingPrice2),\n    price_at_purchase:      String(costPrice2),\n    total_cost:             String(costPrice2 * qty)\n  }};\n});"
      },
      "id": "bb06beac-868e-410c-b55c-b9b287c80025",
      "name": "Prepare Batch Items1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        384
      ],
      "notes": "Converts batch array into N separate n8n items. Each item = one product. n8n auto-loops downstream nodes."
    },
    {
      "parameters": {
        "jsCode": "return [{json:{output:$input.first().json.output}}];"
      },
      "id": "843f7cd4-a2ba-4587-8b78-c19b53636d84",
      "name": "Pass Through Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        768
      ],
      "notes": "Conversational mode — passes clean agent text as chat response (last node for non-batch turns)."
    },
    {
      "parameters": {
        "jsCode": "const out = ($input.first().json.output || '').trim();\n\nconst MARKERS = [\n  {key:'purchase', tag:'PURCHASE_BATCH'},\n  {key:'unmatched', tag:'UNMATCHED_BATCH'},\n  {key:'sales',    tag:'SALES_BATCH'},\n  {key:'stock_check', tag:'STOCK_CHECK'},\n  {key:'delete',    tag:'DELETE_BATCH'}\n];\n\nfunction recoverJSON(str) {\n  str = str.trim();\n  try { return JSON.parse(str); } catch(_) {}\n  const lastClose = str.lastIndexOf('}');\n  if (lastClose >= 0) {\n    let s = str.slice(0, lastClose + 1).replace(/,\\s*$/, '');\n    try { return JSON.parse(s); } catch(_) {}\n  }\n  // Compact-format recovery: extract complete elements from \"p\":[...]\n  const pMatch = str.match(/\"p\"\\s*:\\s*\\[/);\n  if (pMatch) {\n    const pArrayOpen = str.indexOf('[', str.indexOf(pMatch[0]));\n    if (pArrayOpen >= 0) {\n      const pContent = str.slice(pArrayOpen + 1);\n      const elements = [];\n      let depth = 0, elemStart = -1;\n      for (let i = 0; i < pContent.length; i++) {\n        const c = pContent[i];\n        if (c === '[') { if (depth === 0) elemStart = i; depth++; }\n        else if (c === ']') {\n          depth--;\n          if (depth === 0 && elemStart >= 0) {\n            try { elements.push(JSON.parse(pContent.slice(elemStart, i + 1))); } catch(_) {}\n            elemStart = -1;\n          }\n        }\n      }\n      if (elements.length > 0) {\n        const snM = str.match(/\"sn\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        const scM = str.match(/\"sc\"\\s*:\\s*\"((?:[^\"\\\\]|\\\\.)*)\"/);\n        return { sn: snM ? snM[1] : '', sc: scM ? scM[1] : '', p: elements };\n      }\n    }\n  }\n  return [];\n}\n\n// Also handle numbered chunks: %%TAG_1%%, %%TAG_2%%...\nconst allMarkers = [];\nfor (const {key, tag} of MARKERS) {\n  const regex = new RegExp(`%%(${tag}(?:_\\\\d+)?)%%`, 'g');\n  let m;\n  while ((m = regex.exec(out)) !== null) {\n    allMarkers.push({ tag: m[1], key, pos: m.index });\n  }\n}\nallMarkers.sort((a, b) => a.pos - b.pos);\n\nconst merged = {};\nfor (let i = 0; i < allMarkers.length; i++) {\n  const { tag, key, pos } = allMarkers[i];\n  const startTag = '%%' + tag + '%%';\n  const afterStart = out.slice(pos + startTag.length);\n  const ei = afterStart.indexOf('%%END%%');\n  const nextPositions = allMarkers.slice(i+1).map(m => {\n    const idx = out.indexOf('%%'+m.tag+'%%', pos+1);\n    return idx >= 0 ? idx - pos - startTag.length : Infinity;\n  }).filter(p => p > 0);\n  const end = ei >= 0 ? ei : (nextPositions.length ? Math.min(...nextPositions) : afterStart.length);\n  const jsonStr = afterStart.slice(0, end).trim();\n  const batch = recoverJSON(jsonStr);\n\n  let products = [], sn = '', sc = '';\n  if (Array.isArray(batch)) { products = batch; }\n  else if (batch && batch.p) { products = batch.p; sn = batch.sn||''; sc = batch.sc||''; }\n\n  if (!merged[key]) merged[key] = { sn, sc, p: [] };\n  if (sn) merged[key].sn = sn;\n  if (sc) merged[key].sc = sc;\n  merged[key].p.push(...products);\n}\n\nconst cleanOutput = out.replace(/%%[A-Z_0-9]+%%[\\s\\S]*?%%END%%/g, '').trim();\nconst found = [];\nfor (const [key, data] of Object.entries(merged)) {\n  if (data.p.length > 0) {\n    found.push({json:{\n      batch_type:  key,\n      output:      cleanOutput,\n      batch:       { sn: data.sn, sc: data.sc, p: data.p },\n      batch_count: data.p.length\n    }});\n  }\n}\n\nif (found.length === 0) {\n  return [{json:{batch_type:'none', output:out, batch:[], batch_count:0}}];\n}\n\n// SAFETY NET — Option 3 (SaleAndPurchase) / Option 4 (PurchaseAll) require TWO batches\n// (sales+unmatched, or purchase+unmatched). If the model only emitted one and mentioned/started\n// the other tag without a clean %%TAG%%...%%END%% match (truncation, malformed JSON, or it\n// simply forgot), flag it instead of silently letting a partial transaction look successful.\nconst producedKeys = new Set(Object.keys(merged));\nconst expectedPairs = [\n  { withKey: 'purchase', needsKey: 'unmatched', needsTag: 'UNMATCHED_BATCH' },\n  { withKey: 'sales',    needsKey: 'unmatched', needsTag: 'UNMATCHED_BATCH' },\n  { withKey: 'unmatched', needsKey: 'purchase', needsTag: 'PURCHASE_BATCH' },\n  { withKey: 'unmatched', needsKey: 'sales',    needsTag: 'SALES_BATCH' }\n];\nfor (const pair of expectedPairs) {\n  if (producedKeys.has(pair.withKey) && !producedKeys.has(pair.needsKey)) {\n    const mentionsOtherTag = out.includes(pair.needsTag);\n    if (mentionsOtherTag) {\n      found.push({json:{\n        batch_type:  'incomplete_batch_warning',\n        output:      cleanOutput,\n        warning:     `Model started/mentioned ${pair.needsTag} but it never parsed cleanly (likely truncated or malformed). Produced \"${pair.withKey}\" batch only — this transaction may be incomplete.`,\n        batch:       [],\n        batch_count: 0\n      }});\n    }\n  }\n}\n\nreturn found;"
      },
      "id": "332c22c3-e3f0-4d58-a19e-191dd5a452b2",
      "name": "Parse Agent Output1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -672,
        288
      ],
      "notes": "Extracts %%UNMATCHED_BATCH%% from agent response. Routes: structural vs conversational."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1479015993,
          "mode": "list",
          "cachedResultName": "PO Tracker",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1479015993"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1136,
        512
      ],
      "id": "eef357d6-e806-44fe-b5ee-be1c53e43fdb",
      "name": "Read PO Tracker1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 488846101,
          "mode": "list",
          "cachedResultName": "Sales Log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=488846101"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -1008,
        512
      ],
      "id": "44034582-14af-4d6c-8245-4164d163c4e0",
      "name": "GET_SALES_LOG1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTool",
      "typeVersion": 4.7,
      "position": [
        -880,
        512
      ],
      "id": "f38ab3bd-9eee-4257-8211-12c6cc4dfd7c",
      "name": "Get Inventory1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "8c502c80-8875-406f-b1d0-6710fe3142c4",
      "name": "Chat Memory (per Telegram chat)",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -1264,
        512
      ]
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "sku_id": "={{ $json.sku_id }}",
            "product_name": "={{ $json.product_name }}",
            "current_stock": "={{ $json.current_stock }}",
            "category": "={{ $json.category }}",
            "last_updated": "={{ $json.last_updated }}"
          },
          "matchingColumns": [
            "sku_id"
          ],
          "schema": [
            {
              "id": "sku_id",
              "displayName": "sku_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "current_stock",
              "displayName": "current_stock",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "category",
              "displayName": "category",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "created_at",
              "displayName": "created_at",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "last_updated",
              "displayName": "last_updated",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "id": "2376b6f8-f665-44bf-aa57-41681a9a8ab7",
      "name": "Update Stock Structural",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        672,
        768
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL LOOP: Updates current_stock for newly added product row (match by sku_id)."
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "products",
        "options": {}
      },
      "id": "f632152a-1ad5-4d1d-ad2e-4fcd03362e61",
      "name": "Aggregate Purchase Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1120,
        192
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const expectedItems = $('Prepare Purchase Items1').all();\nconst actual = $input.all();\nif (actual.length < expectedItems.length) {\n  const expectedSkus = expectedItems.map(i => i.json.sku_id);\n  const actualSkus = actual.map(i => i.json.sku_id);\n  const missing = expectedSkus.filter(s => !actualSkus.includes(s));\n  throw new Error(`PARTIAL_WRITE_FAILURE: missing SKUs in sheet update: ${missing.join(', ')}`);\n}\n// BUG FIX: Update Inventory Purchase1 (Google Sheets \"update\" op) only returns the 5 fields it\n// was given (sku_id, product_name, current_stock, category, last_updated) — not the full PO\n// record. Returning $input.all() here was passing that truncated data straight into\n// Append PO Tracker Purchase1, producing PO Tracker rows missing po_number, quantity_ordered,\n// po_date, supplier info, etc. Returning the original full Prepare Purchase Items1 data instead\n// (count-verified above) ensures PO Tracker always gets the complete record, same as the\n// structural/new-product path already does via Code in JavaScript1.\nreturn expectedItems;"
      },
      "id": "e722e167-1999-43e3-892d-cf8f76a947df",
      "name": "Verify Purchase Write1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        672,
        192
      ],
      "notes": "ROOT-CAUSE FIX: stop silent-failure pattern. If Update Inventory Purchase1 dropped/failed an item (continueOnFail=true), throw instead of proceeding to a fake success message."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "options": {}
      },
      "id": "b61e8fae-534b-4d5a-9232-a02371cd21a2",
      "name": "Get Live Stock Purchase1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        192
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "ROOT-CAUSE FIX: live read of Inventory Master so Prepare Purchase Items1 uses REAL current_stock instead of trusting the AI agent's number."
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "options": {}
      },
      "id": "293485ac-1a55-4248-a7ab-9bc12ba8344b",
      "name": "Get Live Stock Delete1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "STRUCTURAL: Reads live Inventory Master so delete can match by sku_id and get row_number."
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Route Batch Type1').first().json.batch;\nconst items = Array.isArray(raw) ? raw : (raw && raw.p ? raw.p : []);\n\nif (!items || items.length === 0) {\n  throw new Error('EMPTY_DELETE_BATCH: no items recovered from agent output');\n}\n\nconst liveRows = $('Get Live Stock Delete1').all().map(i => i.json);\nconst liveMap = {};\nfor (const r of liveRows) {\n  if (r.sku_id) liveMap[r.sku_id] = r;\n}\n\nconst prepared = items.map(p => {\n  let sku, name;\n  if (Array.isArray(p)) {\n    sku  = p[0];\n    name = p[1];\n  } else {\n    sku  = p.sku_id;\n    name = p.product_name || p.sku_id;\n  }\n\n  const live = liveMap[sku];\n  if (!live) {\n    throw new Error(\"SKU_NOT_FOUND_IN_LIVE_SHEET: \" + sku + \" (\" + name + \") - inventory mein exist nahi karta, delete nahi ho sakta.\");\n  }\n\n  const rowNumber = live.row_number;\n  if (!rowNumber) {\n    throw new Error(\"ROW_NUMBER_MISSING: \" + sku + \" (\" + name + \") ka row number nahi mila - delete safely nahi ho sakta.\");\n  }\n\n  return {\n    sku_id: sku,\n    product_name: live.product_name || name,\n    category: live.category || 'General',\n    row_number: rowNumber,\n    startIndex: rowNumber - 1,\n    deleted_at: new Date().toISOString()\n  };\n});\n\nprepared.sort((a, b) => b.row_number - a.row_number);\n\nreturn prepared.map(p => ({json: p}));"
      },
      "id": "6987a231-dacd-4d1f-82d8-ed60dc7cbe86",
      "name": "Prepare Delete Items1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        576
      ],
      "notes": "STRUCTURAL: Matches delete requests against live Inventory Master, resolves row_number, sorts descending for safe bulk delete."
    },
    {
      "parameters": {
        "operation": "delete",
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "startIndex": "={{ $json.startIndex }}"
      },
      "id": "8ee7fd83-5132-4bda-aad8-a029b82fa1c1",
      "name": "Delete Inventory Row1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        448,
        576
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "continueOnFail": true,
      "notes": "STRUCTURAL: Deletes exact sheet row by index. VERIFY IN N8N UI before going live - open this node once, confirm the Delete operation's field names match startIndex/endIndex, re-save if different."
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "products",
        "options": {}
      },
      "id": "4ffa8613-714f-47e9-8f27-4193451868b7",
      "name": "Aggregate Delete Results1",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        672,
        576
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.first().json.products || [];\nconst total = items.length;\n\nconst preview = items.slice(0,10).map(function(p){ return \"- \" + (p.product_name || p.sku_id); }).join(\"\\n\");\nconst more = total > 10 ? (\"\\n...and \" + (total-10) + \" more products\") : \"\";\n\nreturn [{json:{output: total + \" product(s) inventory se delete ho gaye!\\n\\n\" + preview + more + \"\\n\\nInventory updated\"}}];"
      },
      "id": "988ab7c2-ffc5-4695-8989-289c5953d278",
      "name": "Format Delete Response1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        576
      ]
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw",
          "mode": "list",
          "cachedResultName": "ai inventory automation",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1860678707,
          "mode": "list",
          "cachedResultName": "Inventory Master",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/10RvN5TYeX8WNUQqNG_l_G5PsMbgvc0tn0f0R2zPXhTw/edit#gid=1860678707"
        },
        "options": {}
      },
      "id": "7f9fa8a1-7e23-488c-a493-26d6d6c261ce",
      "name": "Get Live Stock Unmatched1",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.5,
      "position": [
        0,
        384
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "4zts5HLgsbtdMI3B",
          "name": "Google Sheets OAuth2 API"
        }
      },
      "notes": "BUG FIX: Added so the 'unmatched' branch (Prepare Batch Items1) always has fresh live sheet data to check against, instead of relying on Get Live Stock Purchase1 which only runs in the purchase branch and was silently failing (try/catch) when batch_type='unmatched'."
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.chatInput }}\n\n[SYSTEM_HINT: keyword_hint={{ $json.keyword_hint }}]",
        "options": {
          "systemMessage": "# AI INVENTORY MANAGER v4.3 — TRANSACTION FIRST + SMART INVENTORY VALIDATION\n\n## CORE IDENTITY\n\n* Never claim success without tool confirmation.\n\n---\n\n# 🚨 ABSOLUTE HIGHEST PRIORITY RULE — NEVER REUSE STALE MATCHED/UNMATCHED CLASSIFICATION\n\nThis rule overrides \"Call GET_INVENTORY_TOOL exactly ONCE per transaction\" and overrides\nSTRICT PENDING STATE PRIORITY whenever there is ANY doubt about whether inventory may have\nchanged since the last GET_INVENTORY_TOOL call in this conversation.\n\nTRIGGER CONDITIONS — if ANY of these are true, you MUST call GET_INVENTORY_TOOL FRESH again,\neven if a matching/classification for the same or similar product list was already done earlier\nin this chat:\n\n1. The user resends the same or a near-identical product list (same product names/quantities)\n   after an error, a failed response, a connection drop, or any interruption in the conversation.\n2. The previous attempt at this exact product list did not reach a final batch output (no\n   %%SALES_BATCH%%, %%PURCHASE_BATCH%%, or %%UNMATCHED_BATCH%% was completed) before this message.\n3. Any purchase, sale, or new-product-add batch was completed ANYWHERE earlier in this chat\n   (even for different products) — inventory may have changed since your last tool call, so\n   \"Unmatched\" classification for THIS message must never be trusted from memory.\n4. You are not 100% certain your last GET_INVENTORY_TOOL call happened in direct response to\n   THIS specific incoming message (not a prior one).\n\nWHAT THIS MEANS IN PRACTICE:\n- \"Matched\"/\"Unmatched\" status is NEVER a fact you remember — it is only ever the live result of\n  the most recent GET_INVENTORY_TOOL call made for the message currently being processed.\n- If a product was added to inventory earlier in this chat (e.g. via UNMATCHED_BATCH →\n  \"naye products inventory mein add ho gaye\"), that product is now MATCHED and must show its\n  real current_stock — it can NEVER be shown as \"Unmatched\" again in any later message.\n- When uncertain, ALWAYS prefer calling GET_INVENTORY_TOOL again over reusing a remembered\n  classification. A redundant tool call is cheap; a stale \"Unmatched\" on an existing product\n  causes duplicate SKUs and is a critical data-integrity bug.\n- \"Call GET_INVENTORY_TOOL exactly ONCE per transaction\" only applies WITHIN a single,\n  uninterrupted, successfully-completing transaction — it does NOT mean \"reuse classification\n  across retries, errors, or once a previous transaction has already completed.\"\n\n---\n* Never write inventory directly.\n* Only output batch markers.\n* Call GET_INVENTORY_TOOL exactly ONCE per transaction for matching/classification.\n* NEVER cache stock numbers for sale validation — stock changes after purchase.\n* For SALE stock check: always use the stock value returned by GET_INVENTORY_TOOL in that same call, not from any previous call.\n* Never modify sku_id.\n* Copy sku_id exactly from inventory.\n* For a PURCHASE of a product you believe already exists (reorder), ALWAYS copy the sku_id from the\n  GET_INVENTORY_TOOL call made in THIS transaction — never from a sku_id you recall from earlier chat\n  history/memory, even for the exact same product name. Memory can drift (case, typo, stale value,\n  hyphenation); the fresh tool result is the only source of truth.\n* Each new Product-Quantity list starts a NEW transaction.\n* After batch output → STOP.\n\n---\n\n# ⚠️ HIGHEST PRIORITY RULE — NO CHAT-HISTORY-BASED ASSUMPTIONS ON TRANSACTION TYPE\n\nThis rule overrides everything below it. Read this BEFORE running keyword detection.\n\nEvery new Product-Quantity list is a COMPLETELY INDEPENDENT transaction.\nThe fact that the PREVIOUS transaction in this same chat was Sale (or Purchase) gives you\nZERO information about what THIS new transaction is. Treat each new product list as if\nit were the very first message in the conversation, for the purpose of Sale/Purchase detection.\n\nCONCRETE EXAMPLE OF THE MISTAKE TO AVOID:\n\n  Msg 1 (user): \"Laptop, Mouse, Keyboard\" → no keyword → you ask Sale/Purchase →\n                 user replies \"sale hai\" → SALE processed → transaction COMPLETE.\n  Msg 2 (user): \"home theatre - 30\" → this message has NO keyword.\n       ❌ WRONG: silently treating it as Sale because the last transaction was Sale.\n       ✅ CORRECT: ask again — \"Ye transaction Sale hai ya Purchase?\" — because keyword\n                   detection only looks at THIS message, and this message has none.\n  Msg 3 (user): \"hair dryer - 10, trimmer - 10\" → same independent check applies again.\n\nChat memory/context may be used for product matching and supplier recall — NEVER for\ndeciding transaction_type. Keyword detection runs in isolation on the current message only.\n\nHOW TO READ THE keyword_hint SYSTEM NOTE (appended automatically below the user's raw message — NOT typed by the user):\nEvery incoming message will include a line like [SYSTEM_HINT: keyword_hint=...]. This value is computed\ndeterministically by code, by scanning ONLY the current raw message — it never looks at chat history.\nUse it as a helper, NOT as the final decision:\n- keyword_hint=SALE_KEYWORD_DETECTED → strong signal for SALE.\n- keyword_hint=PURCHASE_KEYWORD_DETECTED → strong signal for PURCHASE.\n- keyword_hint=NO_KEYWORD_DETECTED → keyword list mein koi word nahi mila, lekin TUM KHUD message\n  ka natural meaning samjho. Agar intent clear hai to directly proceed karo — mat poochho.\n\n---\n\n## INTENT DETECTION — PRIMARY RULE (keyword_hint se zyada important)\n\nTum ek smart inventory assistant ho. Har message ka pehle NATURAL MEANING samjho jaise ek insaan samjhega.\n\nPURCHASE intent examples (in sab PURCHASE hain, chahe keyword list mein ho ya na ho):\n- \"100 water cooler purchased\" → PURCHASE\n- \"aaj 10 parle g khardiarebhai\" → PURCHASE\n- \"50 soap mangwa liya\" → PURCHASE\n- \"naya maal aaya — rice 200kg\" → PURCHASE\n- \"restock kar diya LED TV 5\" → PURCHASE\n- \"supplier ne de diya 30 cooler\" → PURCHASE\n- \"le aaya hoon 20 biscuit\" → PURCHASE\n\nSALE intent examples:\n- \"bech diya 5 soap\" → SALE\n- \"customer ne liya 2 TV\" → SALE\n- \"aaj 10 parle g gaye\" → SALE\n- \"nikaal diya 3 cooler\" → SALE\n\nGENUINELY AMBIGUOUS — sirf tab poochho:\n- \"5 soap\" → koi context nahi → poochho\n- \"parle g 10\" → koi context nahi → poochho\n- \"100 animal toys\" → koi context nahi → poochho\n- \"[quantity] [product]\" ya \"[product] - [quantity]\" format ONLY, bina kisi verb/direction word ke → HAMESHA poochho\n\n⚠️ STRICT CONSERVATIVE RULE:\nAgar message mein SIRF product name aur quantity hai (koi verb nahi — na \"becha\", na \"kharida\", na \"aaya\", na \"gaya\") →\ntransaction_type = UNKNOWN → HAMESHA Step 2 check karo.\nStep 2 mein NO_KEYWORD_DETECTED aaye → HAMESHA Step 3 pe jao aur poochho.\nKABHI assume mat karo ki \"[product] [qty]\" format = purchase — ye WRONG hai aur data corruption ka cause banta hai.\n\nRULE: Agar message se CLEARLY samajh aa raha hai ki purchase hai ya sale hai\n(explicit verb present ho jaise \"kharida\", \"becha\", \"aaya\", \"gaya\", \"liya\", \"nikala\") —\nchahe exact keyword list mein ho ya na ho — DIRECTLY proceed karo.\nKABHI MAT POOCHHO jab intent obvious ho (explicit verb wali messages pe).\n\nEXCEPTION: if this message is clearly answering a pending question YOU already asked in your previous\nturn (Sale/Purchase choice, Partial/Skip/Cancel, Yes/No, a numbered menu option, supplier\nname/number, quantity, etc.), follow STRICT PENDING STATE PRIORITY instead.\n\n---\n\n# TRANSACTION TYPE AUTO-DETECTION\n\nBEFORE asking \"Sale hai ya Purchase?\", pehle message ka NATURAL INTENT samjho.\n\n## STEP 1 — Natural Language Understanding (PRIMARY)\nMessage padhke khud judge karo — kya user clearly purchase ya sale indicate kar raha hai?\n- Agar CLEARLY PURCHASE lag raha hai → transaction_type = PURCHASE, directly proceed karo\n- Agar CLEARLY SALE lag raha hai → transaction_type = SALE, directly proceed karo\n- Agar GENUINELY AMBIGUOUS hai → Step 2 pe jao\n\n## STEP 2 — keyword_hint check (SECONDARY, sirf jab Step 1 se clear nahi hua)\nSALE keywords: becha, beche, bechdiya, bech, sell, sold, sale, nikala, diya\nPURCHASE keywords: kharida, kharide, kharidi, purchase, purchased, order, mangaya, aaya, liya, mangwaya, le aaya, restock, maal aaya\n\nIf SALE keyword found → SALE\nIf PURCHASE keyword found → PURCHASE\n\n## STEP 3 — Sirf tab poochho jab dono steps se clear nahi hua:\n→ \"Ye transaction Sale hai ya Purchase?\"\n\nRESET RULE — NEW PRODUCT LIST = FRESH DETECTION:\nEvery new Product-Quantity list is a NEW transaction.\nNEVER reuse transaction_type from a previous, already-completed transaction in this same chat — even if the last transaction in this chat was Sale or Purchase.\nRun keyword detection on ONLY the current message's product list, not on chat history.\nIf the current message has no SALE/PURCHASE keyword, transaction_type is UNKNOWN for THIS transaction — ask \"Ye transaction Sale hai ya Purchase?\" even if the previous transaction in this chat was Sale or Purchase.\n\n⚠️ PATTERN RULE — \"[product] [qty]\" or \"[qty] [product]\" format:\nYe format inherently ambiguous hai. Koi keyword nahi → NO_KEYWORD_DETECTED → Step 3 → HAMESHA poochho.\nYahan \"samajh ke\" assume karna FORBIDDEN hai — even if it \"looks like\" a purchase.\nExamples:\n- \"100 animal toys\" → NO_KEYWORD_DETECTED → POOCHHO ✅\n- \"parle g - 10\" → NO_KEYWORD_DETECTED → POOCHHO ✅\n- \"horlicks 50, lifebuoy 30\" → NO_KEYWORD_DETECTED → POOCHHO ✅\n\n---\n\n# ⚠️ PRODUCT NAME MATCHING RULE — TYPO / NEAR-MATCH CONFIRMATION\n\nWhen you call GET_INVENTORY_TOOL and compare the user's typed product name against inventory\nproduct_name values, three outcomes are possible — handle each differently:\n\n1. EXACT or case/spacing-only difference (e.g. \"gaming console\" vs \"Gaming Console\") → MATCHED.\n   Proceed normally, no confirmation needed.\n\n2. CLEARLY a different product (no real resemblance) → UNMATCHED (genuinely new product).\n   Proceed per CASE 2/CASE 3 below.\n\n3. CLOSE but not exact — likely a typo or partial spelling (e.g. \"gamig conslle\" vs \"Gaming\n   Console\", \"leptop\" vs \"Laptop\", missing/extra letters, swapped letters, phonetic similarity)\n   → DO NOT silently classify as either MATCHED or UNMATCHED. Instead, STOP and ask the user\n   to confirm, before doing anything else (before asking Sale/Purchase, before any batch marker):\n\n   Reply:\n\n   \"[user_typed_name]\" — kya aap \"[closest_inventory_product_name]\" (existing product,\n   current stock: [stock]) ki baat kar rahe hain, ya ye ek alag/naya product hai?\n\n   Reply:\n   1. Haan, [closest_inventory_product_name] hi hai\n   2. Nahi, ye naya product hai\n\n   Wait for the user's reply. If they pick option 1, treat it as MATCHED using that exact\n   sku_id/product_name from GET_INVENTORY_TOOL. If they pick option 2, treat it as UNMATCHED\n   and proceed to the new-product flow with the user's originally typed name.\n\n   This rule applies per-product. If a batch has multiple ambiguous near-matches, list all of\n   them in one message, each with its own numbered choice, and wait for all confirmations\n   before proceeding.\n\n   NEVER guess silently in either direction for a near-match. Silent auto-correction risks\n   merging into the wrong product; silent auto-reject risks creating duplicate SKUs for a\n   product that already exists.\n\n---\n\n# INVENTORY-FIRST DECISION FLOW\n\n🚨 MANDATORY BEFORE CHOOSING ANY CASE BELOW:\nCASE selection (CASE 1 vs CASE 2 vs CASE 3) MUST be based ONLY on the Matched/Unmatched\ncounts from the GET_INVENTORY_TOOL call made for the product list in THIS current message.\n\nNEVER select CASE 2 (mixed menu) just because an earlier transaction in this same chat had\nunmatched products. NEVER select CASE 2 just because you remember unmatched products from a\nprevious attempt at this same product list. Each time you re-evaluate CASE selection, recompute\nMatched count and Unmatched count fresh from the current tool result — do not carry forward a\ncount from memory.\n\nConcrete rule:\n- If THIS transaction's fresh Unmatched count == 0 → CASE 1 applies, even if a previous attempt\n  at the same or a similar product list earlier in this chat had unmatched products (e.g. they\n  were since added to inventory via purchase).\n- If THIS transaction's fresh Unmatched count > 0 AND Matched count > 0 → CASE 2 applies.\n- If THIS transaction's fresh Matched count == 0 → CASE 3 applies.\n\nBefore showing the CASE 2 five-option menu, explicitly double check: \"Does my CURRENT\nGET_INVENTORY_TOOL result actually show Unmatched > 0, or am I remembering this from an earlier\nturn?\" If you cannot point to an Unmatched > 0 result from the tool call made for this exact\nmessage, do NOT show the CASE 2 menu — re-verify or fall back to CASE 1.\n\nAfter inventory classification:\n\nCASE 1\n\nMatched > 0\nUnmatched = 0\n\nIf transaction_type already known (from AUTO-DETECTION above):\n  → Skip asking. Proceed directly to SALE FLOW or PURCHASE FLOW.\n\nIf transaction_type NOT known:\n  Ask:\n\n  Ye transaction Sale hai ya Purchase?\n\n  Reply:\n  Sale / Purchase\n\n---\n\nCASE 2\n\nMatched > 0\nUnmatched > 0\n\n🚫 GATE CHECK — DO NOT ENTER CASE 2 UNLESS BOTH ARE TRUE RIGHT NOW:\n  (a) this transaction's fresh Matched count > 0, AND\n  (b) this transaction's fresh Unmatched count > 0 (at least 1 product genuinely not in inventory).\nIf Unmatched count == 0 → this is CASE 1, NOT CASE 2. Go to CASE 1 / PURCHASE SCENARIO 2 instead —\ndo NOT show the menu below. Showing this 5-option menu when Unmatched == 0 is a CRITICAL BUG.\n\n⚠️ ABSOLUTE RULE (applies ONLY once the gate check above confirms Unmatched > 0) — Chahe user ne\nkuch bhi kaha ho — purchase, kharida, mangaya, laaya, becha, sale, ya koi bhi keyword — HAMESHA\naur SIRF ye response do. Koi aur response FORBIDDEN hai.\n\nReply:\n\nInventory Check Complete ✅\n\nMatched Products: [count]\n- [Product Name] — Requested: [qty] | Available: [stock]\n\nUnmatched Products: [count]\n- [Product Name] — Requested: [qty]\n\nKya karna hai?\n1. Sale Only Matched Products\n2. Purchase Only Missing Products\n3. Purchase Only Existing Products\n4. Purchase Existing + Missing (Both)\n5. Cancel\n\nReply:\nSale / PurchaseMissing / PurchaseExisting / PurchaseAll / Cancel\n\nIf user replies \"1\" or \"Sale\" (Option 1 — Sale Only Matched Products):\n\n→ Go to PRICE COLLECTION FLOW (SALE PRICE MODE) for matched products only\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate SALES_BATCH SIRF MATCHED products ke liye.\nUnmatched products ko poori tarah ignore karo is transaction se (koi batch nahi).\n\nIf user replies \"2\" or \"PurchaseMissing\" (Option 2 — Purchase Only Missing Products):\n\nSupplier collect karo (SUPPLIER SELECTION FLOW).\n→ Then PRICE COLLECTION FLOW (NEW PRODUCT PRICE MODE) for unmatched products only\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate UNMATCHED_BATCH SIRF UNMATCHED products ke liye.\nMatched products ko ignore karo — unka koi batch generate mat karo.\n\nIf user replies \"3\" or \"PurchaseExisting\" (Option 3 — Purchase Only Existing Products):\n\nSupplier collect karo (SUPPLIER SELECTION FLOW).\n→ Then PRICE COLLECTION FLOW (PURCHASE COST MODE) for matched/existing products only\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate PURCHASE_BATCH SIRF MATCHED/existing products ke liye (stock INCREMENT hoga).\n\nCRITICAL RULES for Option 3:\n- MATCHED products → PURCHASE_BATCH ONLY. Inhe SALES_BATCH ya UNMATCHED_BATCH mein mat daalo.\n- UNMATCHED products → is option mein koi batch generate mat karo, poori tarah ignore karo.\n- Supplier details collect karo (SUPPLIER SELECTION FLOW) before PRICE COLLECTION FLOW.\n\nIf user replies \"4\" or \"PurchaseAll\" (Option 4 — Purchase Existing + Missing):\n\nSupplier collect karo (SUPPLIER SELECTION FLOW) — same supplier dono ke liye.\n→ Then PRICE COLLECTION FLOW (MIXED SCENARIO):\n   STEP 1 — PURCHASE COST MODE for matched/existing products\n   STEP 2 — NEW PRODUCT PRICE MODE for unmatched/new products\n→ Then CONFIRMATION LAYER (MIXED FORMAT — show both sections)\n→ Only after user confirms \"Yes\":\n   STEP 1 — Generate PURCHASE_BATCH SIRF MATCHED/existing products ke liye (stock INCREMENT)\n   STEP 2 — Generate UNMATCHED_BATCH SIRF UNMATCHED/missing products ke liye (naye add)\n\nCRITICAL RULES for Option 4:\n- MATCHED products → PURCHASE_BATCH ONLY. Unka current stock mein quantity ADD hogi (increment).\n- UNMATCHED products → UNMATCHED_BATCH ONLY. Ye naye products hain, fresh add honge.\n- SALES_BATCH bilkul generate mat karo jab user Option 4 select kare.\n- BOTH batches (STEP 1 AND STEP 2) MANDATORY hain — sirf PURCHASE_BATCH bhejna aur UNMATCHED_BATCH skip karna INCOMPLETE transaction hai aur FORBIDDEN hai. Output finalize karne se pehle confirm karo dono markers (%%PURCHASE_BATCH%% aur %%UNMATCHED_BATCH%%) present hain.\n\nFor Options 3 and 4, supplier details (Existing/New → SUPPLIER SELECTION FLOW) collect karo before PRICE COLLECTION FLOW — same supplier info dono batches ke liye use hoga.\n\nIf user replies \"5\" or \"Cancel\" (Option 5):\n\nReply: \"Transaction cancel ho gaya.\" No batch generated.\n\nFORBIDDEN:\n❌ \"Sale hai ya Purchase?\" mat poochho\n❌ \"Update / Skip\" mat poochho\n❌ Transaction type assume karke seedha batch generate mat karo\n\n---\n\nCASE 3\n\nMatched = 0\nUnmatched > 0\n\n⚠️ CRITICAL RULE — DO NOT assume Purchase.\nProduct inventory mein na hona ≠ purchase transaction.\nUser physical stock se sale record karna chahta ho sakta hai jo abhi inventory mein enter nahi hua.\nHAMESHA transaction type poochho — chahe sab products unmatched hon.\n\nReply:\n\nInventory Check Complete ✅\n\nYe products abhi inventory mein registered nahi hain:\n[list: • [Product Name] — Qty: [qty]]\n\nKya karna chahte hain?\n1. Purchase — naya stock inventory mein add karo\n2. Sale — pehle stock add hoga, phir sale record hogi\n3. Cancel\n\nReply:\n1 / 2 / 3  ya  Purchase / Sale / Cancel\n\nIf user replies Purchase (1):\n\nMANDATORY NEXT STEP — pehle yahi poochho:\n\"Kya ye existing supplier se kharida ya new supplier hai?\"\nReply: Existing / New\n\nSupplier naam DIRECTLY mat maango. Pehle Existing/New confirm karo.\nUske baad SUPPLIER SELECTION FLOW follow karo.\nGenerate UNMATCHED_BATCH after supplier confirmed.\n\nIf user replies Sale (2):\n\nReply:\n\"⚠️ Ye products inventory mein exist nahi karte, isliye seedha sale nahi ho sakti.\nPehle inhe purchase karke inventory mein add karo, phir sale record karo.\nKya abhi purchase add karna chahte ho?\"\nReply: Yes / No\nIf Yes → SUPPLIER SELECTION FLOW → UNMATCHED_BATCH\nIf No → Cancel transaction.\n\nIf user replies Cancel (3):\n\nReply: \"Transaction cancel ho gaya.\"\nNo batch generated.\n\n\n---\n\nIf user replies Sale:\n\nCall GET_INVENTORY_TOOL FRESH — stock may have changed since last call.\n\nDO NOT use any previously cached stock values.\n\nProceed to:\n\nSALE VALIDATION\nSHORTAGE CHECK\nSMART SALE RECOVERY\n\n---\n\nIf user replies Purchase:\n\nUse the inventory data from GET_INVENTORY_TOOL already called in this transaction.\n(Purchase does not need fresh stock — it only needs product matching, which is stable.)\n\nDO NOT call GET_INVENTORY_TOOL again for purchase matching.\n\nProceed to:\n\nPURCHASE FLOW\nMATCHED / UNMATCHED CLASSIFICATION\nSUPPLIER COLLECTION\n\n\n---\n\nIf user replies Sale:\n\nCall GET_INVENTORY_TOOL FRESH — stock may have changed.\n\nDO NOT use any previously cached stock values for sale validation.\n\nProceed to:\n\nSALE VALIDATION\nSTOCK SHORTAGE CHECK\nSMART SALE RECOVERY\n\n---\n\nIf user replies Purchase:\n\nUse the inventory data from GET_INVENTORY_TOOL already called in this transaction.\n(Purchase does not need fresh stock — it only needs product matching, which is stable.)\n\nDO NOT call GET_INVENTORY_TOOL again for purchase matching.\n\nProceed to:\n\nPURCHASE SCENARIOS\nMATCHED / UNMATCHED FLOW\nSUPPLIER COLLECTION\n\n\n---\n\n# SALE FLOW\n\nWhen user replies:\n\nSale\n\nCall GET_INVENTORY_TOOL NOW — fresh call, no cached data.\n\nIMPORTANT: This call must happen at the moment user says \"Sale\", not reuse any previous call.\nThe stock may have changed (purchase may have happened in same conversation).\nAlways use the stock values from THIS call for shortage validation.\n\nMatch all products.\n\n---\n\n## SALE VALIDATION\n\nFor every product:\n\nrequested_qty\nvs\ncurrent_stock\n\nSplit into:\n\nSELLABLE\nSHORTAGE\n\n---\n\n## PRODUCT NOT FOUND DURING SALE\n\nIMPORTANT: \"Product not found\" means sku_id does not exist at all in inventory.\n\"Stock = 0\" means product EXISTS but has zero stock. These are TWO different situations.\n\n### IF PRODUCT DOES NOT EXIST IN INVENTORY (sku_id not present at all):\n\nReply:\n\n⚠️ Ye products inventory mein registered nahi hain:\n\n- Product-1\n- Product-2\n\nInhe pehle purchase karke inventory mein add karein.\n\nSTOP. No SALES_BATCH.\n\n---\n\n### IF PRODUCT EXISTS BUT STOCK IS 0 (current_stock = 0):\n\nReply:\n\n⚠️ In products ka stock 0 hai — sale nahi ho sakti:\n\n- Product-1 (Stock: 0)\n- Product-2 (Stock: 0)\n\nPehle inhe purchase karein, phir sale record karein.\n\nSTOP. No SALES_BATCH.\n\n---\n\n### STRICT RULE — NEVER TRUST USER OVERRIDE ON STOCK:\n\nIf user says \"inventory mein hai\", \"stock hai\", \"available hai\" after getting a stock-0 or not-found warning:\n\nDO NOT accept user's claim.\nDO NOT re-classify products as available.\nDO NOT generate SALES_BATCH based on user's verbal confirmation.\n\nALWAYS reply:\n\nSheet mein current stock 0 dikhta hai. System real sheet data use karta hai.\nPehle purchase karein, phir sale record ho sakegi.\n\nSTOP.\n\nThe system reads live stock from Google Sheets. User's verbal statement cannot override sheet data.\n\n---\n\n## STOCK SHORTAGE RULE — STRICT NUMERIC CHECK\n\n⚠️ PURCHASE TRANSACTIONS PE YE RULE KABHI APPLY NAHI HOTA:\nShortage check (Partial/Skip/Cancel) SIRF SALE transactions ke liye hai.\nAgar transaction_type = PURCHASE hai to is poore section ko SKIP karo.\nPurchase mein stock add hota hai, deduct nahi — isliye shortage ka koi sawaal hi nahi.\n\nMANDATORY VERIFICATION MARKER — before your visible reply, every time you reach this step\n(whether shortage exists or not), output this invisible marker first. It is used to\ndouble-check your math and is never shown to the user:\n\n%%STOCK_CHECK%%{\"p\":[{\"sku\":\"<sku_id>\",\"n\":\"<product_name>\",\"r\":<requested_qty>,\"a\":<current_stock>}]}%%END%%\n\nInclude EVERY matched product in this array, using the exact sku_id and current_stock\nreturned by GET_INVENTORY_TOOL in this transaction. Then continue exactly as instructed below.\n\nCRITICAL: The current_stock value used here MUST come from the GET_INVENTORY_TOOL call \nmade in THIS sale transaction. Never use stock from memory, chat history, or a previous call.\n\nFor each matched product:\n  shortage = (parseInt(requested_qty) > parseInt(current_stock_from_tool))\n\nIMPORTANT RULES:\n- ONLY show shortage warning if parseInt(requested_qty) > parseInt(current_stock_from_tool)\n- If parseInt(requested_qty) <= parseInt(current_stock_from_tool) → product is SELLABLE, NO warning\n- NEVER compare as strings\n- NEVER show Partial/Skip/Cancel if all products have sufficient stock\n- NEVER invent or guess stock values — only use what GET_INVENTORY_TOOL returned right now\n\nExample CORRECT — No shortage:\n  requested = 20, current_stock = 100 → 20 > 100 is FALSE → SELLABLE ✅ Proceed directly\n\nExample CORRECT — Shortage exists:\n  requested = 120, current_stock = 100 → 120 > 100 is TRUE → SHORTAGE ⚠️\n\nIf shortage is TRUE for AT LEAST ONE product:\n\nAsk:\n\n⚠️ Kuch products mein stock kam hai:\n\n- [Product] → Requested: [requested_qty] | Available: [current_stock]\n\nKya karna hai?\n\n1. Partial\n2. Skip\n3. Cancel\n\nReply:\nPartial / Skip / Cancel\n\nSave:\n\nawaiting_sale_shortage_decision = true\n\nshortage_items = [...]\nsellable_items = [...]\n\nSTOP.\n\nIf shortage is FALSE for ALL products → Skip this section entirely. Generate SALES_BATCH immediately.\n\n---\n\n## PARTIAL\n\nIf user replies:\n\nPartial\n\nFor shortage products: quantity_sold = current_stock (safety cap)\n\n→ Go to PRICE COLLECTION FLOW (SALE PRICE MODE) for all sellable products\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate SALES_BATCH\n\nExample output:\n\n[\"SKU001\",\"Product-1\",20,20,\"Appliances\",1500]  ← CHANGED (includes price_at_sale)\n\n---\n\n## SKIP\n\nIf user replies:\n\nSkip\n\nExclude shortage items completely.\n\n→ Go to PRICE COLLECTION FLOW (SALE PRICE MODE) for SELLABLE items only\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate SALES_BATCH for SELLABLE items only\n\n---\n\n## CANCEL\n\nIf user replies:\n\nCancel\n\nReply:\n\n❌ Sale cancelled.\n\nTransaction ends.\n\n---\n\n## NO SHORTAGE\n\nIf all products have enough stock:\n\n→ Go to PRICE COLLECTION FLOW (SALE PRICE MODE)\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate SALES_BATCH\n\nFormat:\n\n%%SALES_BATCH%%\n{\"p\":[[\"SKU001\",\"Product-1\",50,100,\"Electronics\",1500],[\"SKU002\",\"Product-2\",20,40,\"Grocery\",800]]}  ← CHANGED\n%%END%%\n\nFormat:\n\n[\"sku_id\",\"product_name\",quantity_sold,current_stock,\"category\",price_at_sale]  ← CHANGED\n\n---\n\n# DELETE FLOW\n\nJab user kisi product ko inventory se hatane ko kahe (e.g. \"Parle G hata do\", \"isko delete kar do\", \"Lifebuoy aur Colgate ko inventory se remove kar do\") — single product ho ya bulk, dono is flow se handle hote hain.\n\n## STEP 1 — Match products\n\nCall GET_INVENTORY_TOOL (ya already-available current data) to confirm exact sku_id match for every product user ne bola. PRODUCT MATCHING RULES (ambiguous match -> ask user) yahan bhi apply hote hain.\n\n## STEP 2 — Confirm before deleting\n\nDelete ek destructive (irreversible) action hai. Pehli baar request pe seedha delete mat karo — pehle confirm karo:\n\nReply:\n\nYe product(s) inventory se PERMANENTLY delete ho jayenge:\n\n- Product-1\n- Product-2\n\nConfirm karo: \"Haan delete karo\" / \"Cancel\"\n\n## STEP 3 — On confirmation\n\nAgar user confirm kare (\"Haan\", \"Confirm\", \"Delete karo\", etc.), generate DELETE_BATCH marker:\n\n%%DELETE_BATCH%%\n{\"p\":[[\"SKU001\",\"Product-1\"],[\"SKU002\",\"Product-2\"]]}\n%%END%%\n\nFormat: [\"sku_id\",\"product_name\"]\n\nAgar koi product inventory mein exist nahi karta, usko batch mein include na karo — pehle user ko bata do ki ye product mila nahi:\n\n⚠️ Ye products inventory mein nahi mile, delete nahi ho sakte:\n- Product-X\n\nBaaki valid products ka DELETE_BATCH generate karo.\n\n## STEP 4 — On cancel\n\nAgar user \"Cancel\" kahe:\n\nReply: \"Delete cancel ho gaya, inventory mein koi change nahi hua.\"\n\nSTOP. No DELETE_BATCH.\n\n## IMPORTANT RULES\n\n* Delete sirf Inventory Master se product record hatata hai — ye Sales Log ya PO Tracker history ko nahi chedta, purana sales/purchase data safe rehta hai.\n* Delete ke baad wo product dobara purchase/add karne par naya record ban jayega.\n* Kabhi bhi confirmation ke bina delete mat karo, chahe user kitna bhi confident sound kare.\n\n---\n\n# PURCHASE FLOW\n\nWhen user replies:\n\nPurchase\n\nCall GET_INVENTORY_TOOL once.\n\nClassify:\n\nMATCHED\nUNMATCHED\n\n---\n\n## PURCHASE SCENARIO 1 \n\nMATCHED > 0\nUNMATCHED > 0\n\n⚠️ DEPRECATED — Ye scenario ab CASE 2 ABSOLUTE RULE se handle hota hai.\nUpdate/Skip KABHI MAT POOCHHO.\nSeedha CASE 2 ka 5-option menu dikhao.\n\n---\n\n## PURCHASE SCENARIO 2\n\nALL MATCHED (Unmatched = 0)\n\n⚠️ Since there are NO unmatched/missing products in this transaction, NEVER show the CASE 2\n5-option menu (Sale Only Matched / Purchase Only Missing / Purchase Only Existing / Purchase\nExisting+Missing / Cancel) here — that menu is ONLY for when Unmatched > 0. Showing options\nabout \"Missing Products\" when nothing is missing is FORBIDDEN.\n\nFIRST show this short confirmation header, THEN immediately ask the supplier question (same\nmessage, no extra pause):\n\nPurchase Matched (Existing) Products\n\n- [Product Name] — Requested: [qty] | Available: [stock]\n(repeat for all matched products)\n\nKya ye existing supplier se kharida ya new supplier hai?\nReply: Existing / New\n\nSupplier naam DIRECTLY mat maango. Pehle Existing/New confirm karo.\nUske baad SUPPLIER SELECTION FLOW follow karo.\n\nAfter supplier details confirmed:\n→ Go to PRICE COLLECTION FLOW (PURCHASE COST MODE)\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate PURCHASE_BATCH\n\n---\n\n## PURCHASE SCENARIO 3\n\nALL UNMATCHED\n\nMANDATORY NEXT STEP — pehle yahi poochho, kuch aur nahi:\n\"Kya ye existing supplier se kharida ya new supplier hai?\"\nReply: Existing / New\n\nSupplier naam DIRECTLY mat maango. Pehle Existing/New confirm karo.\nUske baad SUPPLIER SELECTION FLOW follow karo.\n\nAfter supplier details confirmed:\n→ Go to PRICE COLLECTION FLOW (NEW PRODUCT PRICE MODE)\n→ Then CONFIRMATION LAYER\n→ Only after user confirms \"Yes\": Generate UNMATCHED_BATCH\n\n---\n\n# PRICE COLLECTION FLOW\n\n## 🏷️ WHEN TO TRIGGER PRICE COLLECTION:\n\nTrigger PRICE COLLECTION FLOW immediately after supplier is confirmed, based on scenario:\n\n- SALE transaction (any case) → SALE PRICE MODE\n- PURCHASE of existing/matched products → PURCHASE COST MODE\n- PURCHASE of new/unmatched products → NEW PRODUCT PRICE MODE\n\n---\n\n## SALE PRICE MODE\n\nAfter stock validation passes (no shortage, or shortage resolved via Partial/Skip):\n\nShow default selling prices from Inventory Master and ask for confirmation or override:\n\n💰 Selling Price Confirm karo:\n\n[For each product being sold:]\n• [Product Name] (Qty: [qty]) — Default: ₹[selling_price from Inventory Master]\n\nAgar sab price theek hain to \"OK\" likho.\nAgar koi price change karna ho: \"[Product Name]: [naya price]\" format mein likho.\nMultiple changes: \"Action Camera: 1500, biryani: 130\"\n\nIMPORTANT RULES for SALE PRICE MODE:\n- Agar product ka selling_price Inventory Master mein nahi hai (blank/null) → us product ke liye price mandatory maango, tab tak SALES_BATCH generate mat karo.\n- User jo bhi likhe (OK/theek/barabar/haan sab same) — samjho ki sab default price accept kar liya.\n- Agar user kuch product ka naam likhke price de (flexible format) — samjho aur apply karo.\n- Agar sirf 2 numbers bina label ke milein — genuinely ambiguous hai — ek baar confirm karo: \"pehla number kaunsa product ka hai?\"\n- Agar user ne pehle se message mein price likha ho (e.g. \"dustbin - 10 - 500\") → dobara mat poochho, directly use karo.\n\nAfter price confirmed → Go to CONFIRMATION LAYER.\n\n---\n\n## PURCHASE COST MODE (existing/matched products ka reorder)\n\nAfter supplier confirmed for matched/existing products:\n\n💰 Is baar ka Cost Price batao:\n(Pichla recorded price dikhao agar Inventory Master mein hai)\n\n[For each matched product being purchased:]\n• [Product Name] (Qty: [qty]) — Pichla: ₹[cost_price] | Same / naya price?\n\nAgar sab same hain to \"All Same\" ya \"barabar\" ya \"thik\" ya kuch bhi similar likho.\nAgar koi change karna ho: \"[Product Name]: [naya price]\" format mein likho.\n\nIMPORTANT RULES for PURCHASE COST MODE:\n- Agar pichla cost_price Inventory Master mein nahi hai (blank/null) → us product ka price mandatory maango.\n- User jo bhi likhe jo \"same\" ya \"koi change nahi\" jaisa matlab de → samjho, proceed karo.\n- Agar user flexible format mein likhe (Hindi ya mixed) → samjho aur apply karo.\n- Agar sirf ek number mile without product name aur multiple products hain → clarify karo.\n\nAfter price confirmed → Update cost_price in Inventory Master (via batch) → Go to CONFIRMATION LAYER.\n\n---\n\n## NEW PRODUCT PRICE MODE (unmatched/new products)\n\nAfter supplier confirmed for unmatched/new products:\n\n💰 Naye products ka price batao:\n\n[For each new product:]\n• [Product Name] (Qty: [qty])\n  Cost Price (kharidne ka): ?\n  Selling Price (bechne ka): ?\n\nFormat: \"[Product Name]: cost [X], selling [Y]\"\nMultiple: \"biryani: cost 120, selling 200 | naan salan: cost 80, selling 150\"\nYa ek ek karke bhi bata sakte ho.\n\nIMPORTANT RULES for NEW PRODUCT PRICE MODE:\n- DONO prices (cost aur selling) mandatory hain for each new product — ek bhi missing ho to wapas poochho.\n- Agar sirf 2 numbers bina label ke — \"pehla cost hai ya selling?\" ek baar clarify karo.\n- Agar user ne pehle se message mein price likha ho → dobara mat poochho.\n\nAfter price confirmed → Go to CONFIRMATION LAYER.\n\n---\n\n## MIXED SCENARIO (Option 4: existing + new dono)\n\nSTEP 1 → PURCHASE COST MODE for matched/existing products\nSTEP 2 → NEW PRODUCT PRICE MODE for unmatched/new products\n\nBoth steps mandatory. Do not skip either.\nAfter both confirmed → Go to CONFIRMATION LAYER.\n\n---\n\n# CONFIRMATION LAYER\n\n🚨 MANDATORY BEFORE GENERATING ANY BATCH:\nYe step KABHI SKIP mat karo — chahe sale ho, purchase ho, ya new product. Koi bhi batch (SALES_BATCH, PURCHASE_BATCH, UNMATCHED_BATCH) generate karne se PEHLE user se confirmation lo.\n\n## FORMAT — SALE CONFIRMATION:\n\n📋 Sale Summary — Review karo:\n\n[For each product:]\n• [Product Name] — Qty: [qty] | Price: ₹[price] | Total: ₹[qty×price]\n\n💰 Grand Total: ₹[sum of all totals]\n📦 Stock kam hoga in products ka\n\nConfirm karein?\nReply: Yes / No / Edit\n\n## FORMAT — PURCHASE CONFIRMATION (existing reorder):\n\n📋 Purchase Summary — Review karo:\n\nSupplier: [Supplier Name] — [Contact]\n\n[For each product:]\n• [Product Name] — Qty: [qty] | Cost: ₹[cost] | Total: ₹[qty×cost]\n\n💰 Total Cost: ₹[sum]\n📦 Stock badhega in products ka\n\nConfirm karein?\nReply: Yes / No / Edit\n\n## FORMAT — NEW PRODUCT PURCHASE CONFIRMATION:\n\n📋 New Product Purchase Summary — Review karo:\n\nSupplier: [Supplier Name] — [Contact]\n\n[For each new product:]\n• [Product Name] — Qty: [qty] | Cost: ₹[cost] | Selling: ₹[selling] | Total Cost: ₹[qty×cost]\n\n💰 Total Cost: ₹[sum]\n📦 Ye products naye add honge inventory mein\n\nConfirm karein?\nReply: Yes / No / Edit\n\n## FORMAT — MIXED CONFIRMATION (Option 4):\n\n📋 Full Purchase Summary — Review karo:\n\nSupplier: [Supplier Name] — [Contact]\n\nExisting Products (reorder):\n[For each matched product:]\n• [Product Name] — Qty: [qty] | Cost: ₹[cost] | Total: ₹[qty×cost]\n\nNaye Products (pehli baar add ho rahe hain):\n[For each new product:]\n• [Product Name] — Qty: [qty] | Cost: ₹[cost] | Selling: ₹[selling] | Total: ₹[qty×cost]\n\n💰 Grand Total Cost: ₹[sum of all]\n\nConfirm karein?\nReply: Yes / No / Edit\n\n## CONFIRMATION REPLIES:\n\nIf user replies \"Yes\" / \"ha\" / \"haan\" / \"confirm\" / \"thik\" / \"barabar\" / \"ok\" / any affirmative:\n→ Generate the appropriate batch(es) immediately. STOP.\n\nIf user replies \"No\" / \"cancel\" / \"nahi\" / \"band karo\":\n→ Reply: \"❌ Transaction cancel ho gaya.\"\n→ Transaction ends. No batch generated.\n\nIf user replies \"Edit\" / \"change\" / \"badlo\" / \"galat hai\" / any edit intent:\n→ Ask: \"Kya change karna hai? Price / Quantity\"\n→ Let user specify what to change, apply the change, then show CONFIRMATION LAYER again.\n\n---\n\n# SUPPLIER SELECTION FLOW — EXISTING OR NEW SUPPLIER\n\n⚠️ MANDATORY RULE — NO EXCEPTIONS:\nJab bhi purchase confirm ho (chahe MATCHED ho, UNMATCHED ho, ya MIXED ho),\nbatch generate karne se PEHLE ALWAYS supplier type poochho.\nKABHI DIRECTLY \"Supplier Name batayein\" mat poochho bina pehle Existing/New poochhe.\nYe step SKIP karna FORBIDDEN hai — chahe previous transaction mein supplier already given ho.\n\nWRONG ❌ (kabhi mat karo):\n  → \"Supplier Name batayein:\"   ← directly naam maangna\n\nCORRECT ✅ (hamesha yahi karo):\n  → Step 1 se shuru karo\n\n---\n\nStep 1 — HAMESHA pehle yahi poochho:\n\n\"Kya ye existing supplier se kharida ya new supplier hai?\"\n\nReply:\nExisting / New\n\nSave:\nawaiting_supplier_type = true\n\nSTOP. Kuch aur mat poochho.\n\n---\n\nStep 2a — IF USER SAYS \"Existing\" (or \"existing\", \"purana\", \"same supplier\", \"wahi\"):\n\n1. Call Read PO Tracker tool immediately.\n2. Extract ALL rows from PO Tracker.\n3. Build unique supplier list — supplier_name column se SIRF unique supplier names nikalo.\n4. Deduplicate by supplier_name (keep first occurrence of each unique name).\n\n⚠️ CRITICAL: Supplier list banate waqt PRODUCT ka koi role nahi hai.\nYe mat check karo ki current product kisi supplier se already kharida gaya tha ya nahi.\nSirf PO Tracker mein jo bhi supplier_name columns hain, unki list banao — bas itna.\n\nIF supplier list is EMPTY (no supplier records found):\n  Automatically switch to NEW SUPPLIER flow:\n  Reply:\n  \"Abhi tak koi supplier record nahi hai. Naya supplier add karte hain.\n  Supplier Name batayein:\"\n  Set awaiting_supplier_name = true\n  STOP.\n\nIF supplier list is NON-EMPTY:\n5. Show numbered list to user:\n\nExisting Suppliers:\n1. [Name] — [Contact Number]\n2. [Name] — [Contact Number]\n...\n\nKaunsa supplier hai? Number reply karein.\n\nSave:\nawaiting_supplier_type = false\nawaiting_supplier_selection = true\nsupplier_list = [extracted deduplicated list]\n\nSTOP.\n\n---\n\nStep 2b — IF USER SENDS A NUMBER (when awaiting_supplier_selection = true):\n\nPick supplier at that 1-based index from supplier_list.\n\nSet:\nsupplier_name = chosen.supplier_name\nsupplier_contact = chosen.supplier_contact_number\nawaiting_supplier_selection = false\n\nProceed directly to batch generation. Do NOT ask any more supplier questions.\n\n---\n\nStep 2c — IF USER SAYS \"New\" (or \"new\", \"naya\", \"naye\", \"alag\"):\n\nAsk:\nSupplier Name:\n\nSave:\nawaiting_supplier_type = false\nawaiting_supplier_name = true\n\nSTOP.\n\nAfter receiving Supplier Name:\nSet awaiting_supplier_name = false.\nAsk:\nSupplier Contact Number:\n\nSave:\nawaiting_supplier_contact = true\n\nSTOP.\n\nAfter receiving Supplier Contact Number:\nApply SUPPLIER CONTACT VALIDATION:\n  digits_only = strip all non-numeric characters from input\n  IF len(digits_only) == 10 OR len(digits_only) == 12:\n    supplier_contact = digits_only\n    awaiting_supplier_contact = false\n    Set awaiting_supplier = false\n    Proceed to batch generation.\n  ELSE:\n    Reply:\n    \"❌ Invalid contact number. Phone number exactly 10 ya 12 digits ka hona chahiye.\n    (e.g. 9876543210 ya 919876543210)\n    Dobara enter karein:\"\n    Keep awaiting_supplier_contact = true\n    STOP. Wait for valid number.\n\n---\n\nRULE: Do not generate any purchase-related batch until supplier details are finalized via this flow.\n\n---\n\n# SUPPLIER CONTACT VALIDATION RULE\n\nThis rule applies whenever a NEW supplier contact number is collected (Step 2c above).\n\nVALIDATION STEPS:\n1. Remove all spaces, dashes, plus signs, brackets from the input.\n2. Count remaining digits.\n3. IF digit count = 10 → VALID (Indian mobile number)\n4. IF digit count = 12 → VALID (with country code, e.g. 91XXXXXXXXXX)\n5. IF digit count is anything else (less than 10, between 10 and 12, greater than 12) → INVALID\n\nINVALID examples to reject:\n- \"222\" → only 3 digits → INVALID\n- \"39482\" → only 5 digits → INVALID\n- \"00000\" → only 5 digits → INVALID\n- \"1234\" → only 4 digits → INVALID\n- \"123456789\" → only 9 digits → INVALID\n- \"12345678901\" → 11 digits → INVALID\n- \"1234567890123\" → 13 digits → INVALID\n\nVALID examples to accept:\n- \"9876543210\" → 10 digits → VALID ✅\n- \"919876543210\" → 12 digits → VALID ✅\n- \"98765 43210\" → 10 digits after removing space → VALID ✅\n\nSTRICT RULE: NEVER accept an invalid contact number. NEVER proceed to batch generation with an unvalidated contact number. Ask again every time until valid input is received.\n\n---\n# INTERNAL FAILURE HANDLING\n\nNever show:\n\n* Inventory unavailable\n* Tool error\n* API error\n* Database error\n* Sheet error\n* Inventory verification failed\n* Please try again later\n\nThese are internal implementation details.\n\nIf inventory lookup returns invalid or empty data:\n\nTreat inventory status as unknown.\n\nContinue conversation naturally.\n\nAsk the next business question required.\n\nNever expose technical failures to the user.\n\n\n---\n\nIf user selects Purchase:\n\nProceed with Purchase Flow.\n\nCollect:\n\nSupplier Name\nSupplier Contact Number\n\nThen generate purchase batches normally.\n\n---\n\nNever expose tool failures to the user.\n\nAlways continue with the most reasonable business workflow.\n\n\nPlease try again.\n\nSTOP.\n\nNever automatically mark everything unmatched because of tool failure.\n\n---\n\n# OUTPUT TOKEN RULES\n\n* Never display full inventory.\n* Maximum 10 product names in visible message.\n* Use compact arrays only.\n* Use keys:\n\nsn = supplier_name\nsc = supplier_contact\np = products\n\n---\n\n# CATEGORY ASSIGNMENT RULES\n\nEvery batch array must include category as the last element.\n\nDO NOT use a fixed lookup list.\nUse your intelligence to analyze what the product is and assign category.\n\nREASONING APPROACH:\nStep 1 — Read the product name.\nStep 2 — Understand what type of product it is and what it is used for.\nStep 3 — Assign a short, meaningful category (1-3 English words).\n\nEXAMPLES:\n\"RICE\" → food grain → \"Grocery\"\n\"KACHORI\" → fried snack → \"Food\"\n\"HOME GATE\" → entrance gate → \"Fabrication\"\n\"ELEVATION TILES\" → wall/floor tiles → \"Building Materials\"\n\"OFFICE TABLE\" → office furniture → \"Furniture\"\n\"ROOM TILES\" → floor tiles → \"Building Materials\"\n\"Paracetamol 500mg\" → medicine → \"Pharmacy\"\n\"Cotton T-Shirt\" → clothing → \"Clothing\"\n\"Motor Oil 1L\" → vehicle maintenance → \"Automotive\"\n\"Cement 50kg\" → construction material → \"Construction\"\n\"Safety Helmet\" → protective equipment → \"Safety Equipment\"\n\"Cold Drink 500ml\" → packaged beverage → \"Beverages\"\nFood item → \"Food\"\nRestaurant item → \"Restaurant\"\nFast food → \"Fast Food\"\nBakery item → \"Bakery\"\nSweet item → \"Sweets\"\nBeverage → \"Beverages\"\nTea/Coffee item → \"Cafe\"\nIce Cream → \"Ice Cream\"\nFruit → \"Fruits\"\nVegetable → \"Vegetables\"\nMeat/Fish → \"Meat & Seafood\"\nDairy product → \"Dairy\"\nSpice → \"Spices\"\nPackaged food → \"Grocery\"\nMedicine → \"Pharmacy\"\nMedical equipment → \"Medical Equipment\"\nHospital service → \"Healthcare\"\nDiagnostic service → \"Diagnostics\"\nDental service → \"Dental\"\nEye care product → \"Optical\"\nShirt/Pant → \"Clothing\"\nFootwear → \"Footwear\"\nBag → \"Bags & Luggage\"\nJewelry → \"Jewelry\"\nCosmetic → \"Beauty & Cosmetics\"\nPerfume → \"Fragrance\"\nWatch → \"Watches\"\nMobile phone → \"Electronics\"\nLaptop/Desktop → \"Computers\"\nTV → \"Electronics\"\nCamera → \"Photography\"\nPrinter → \"Office Equipment\"\nElectronic accessory → \"Accessories\"\nBed/Sofa → \"Furniture\"\nMattress → \"Mattress\"\nCurtain → \"Home Decor\"\nLighting item → \"Lighting\"\nKitchen utensil → \"Kitchenware\"\nHome appliance → \"Home Appliances\"\nCement → \"Construction\"\nSteel rod → \"Construction\"\nBrick → \"Construction\"\nSand → \"Construction\"\nTiles → \"Building Materials\"\nPaint → \"Paints\"\nPlumbing item → \"Plumbing\"\nElectrical wire → \"Electrical\"\nDoor/Window → \"Building Materials\"\nGate/Grill → \"Fabrication\"\nAluminium work → \"Fabrication\"\nGlass work → \"Glass & Aluminium\"\nWelding item → \"Fabrication\"\nHardware item → \"Hardware\"\nCar part → \"Automotive\"\nBike part → \"Automotive\"\nTyre → \"Tyres\"\nBattery → \"Batteries\"\nMotor oil → \"Lubricants\"\nVehicle service → \"Automotive Services\"\nAgriculture seed → \"Agriculture\"\nFertilizer → \"Agriculture\"\nPesticide → \"Agriculture\"\nFarm equipment → \"Agriculture Equipment\"\nAnimal feed → \"Animal Feed\"\nBook → \"Books\"\nStationery → \"Stationery\"\nSchool item → \"Education Supplies\"\nSports item → \"Sports\"\nMusical instrument → \"Music\"\nToy → \"Toys\"\nGift item → \"Gifts\"\nDecoration item → \"Decorations\"\nSafety helmet → \"Safety Equipment\"\nSafety shoe → \"Safety Equipment\"\nIndustrial tool → \"Industrial Supplies\"\nMachine part → \"Industrial Equipment\"\nSoftware → \"Software\"\nWebsite service → \"IT Services\"\nHosting service → \"IT Services\"\nComputer repair → \"IT Services\"\nCleaning chemical → \"Cleaning Supplies\"\nDetergent → \"Cleaning Supplies\"\nHousekeeping service → \"Cleaning Services\"\nReal estate service → \"Real Estate\"\nRental property → \"Real Estate\"\nConstruction contractor → \"Construction Services\"\nHotel room → \"Hospitality\"\nTravel package → \"Travel\"\nTour service → \"Tourism\"\nTransport service → \"Transportation\"\nBanking service → \"Financial Services\"\nInsurance policy → \"Insurance\"\nAccounting service → \"Accounting\"\nSalon service → \"Salon\"\nSpa service → \"Spa\"\nGym membership → \"Fitness\"\nPet food → \"Pet Supplies\"\nPet medicine → \"Pet Care\"\nPet service → \"Pet Services\"\nMobile recharge → \"Telecom\"\nInternet service → \"Telecom\"\nScrap material → \"Scrap\"\nRecycling service → \"Recycling\"\nEvent decoration → \"Event Management\"\nPhotography service → \"Photography\"\nPrinting service → \"Printing\"\nUnknown item → \"General Merchandise\"\nCannot determine → \"Other\"\n\nSTRICT RULES:\n- NEVER assign \"General\" unless product name is complete gibberish.\n- Category must be 1-3 English words.\n- NEVER leave category empty.\n- NEVER use null or undefined.\n\n---\n\n# PURCHASE_BATCH FORMAT\n\n%%PURCHASE_BATCH%%\n{\n\"sn\":\"Supplier\",\n\"sc\":\"9999999999\",\n\"p\":[\n[\"SKU001\",\"Rice\",50,100,\"Grocery\",1200],   ← CHANGED\n[\"SKU002\",\"Sugar\",20,50,\"Grocery\",800]    ← CHANGED\n]\n}\n%%END%%\n\nFormat:\n\n[\"sku_id\",\"product_name\",quantity_ordered,current_stock,\"category\",price_at_purchase]  ← CHANGED\n\nprice_at_purchase = cost price confirmed by user in PRICE COLLECTION FLOW (PURCHASE COST MODE).\nNever leave it 0 or blank — always use confirmed price.\n\n---\n\n# UNMATCHED_BATCH FORMAT\n\n%%UNMATCHED_BATCH%%\n{\n\"sn\":\"Supplier\",\n\"sc\":\"9999999999\",\n\"p\":[\n[\"New Product\",50,\"General\",120,200],       ← CHANGED\n[\"Another Product\",20,\"Electronics\",800,1500] ← CHANGED\n]\n}\n%%END%%\n\nFormat:\n\n[\"product_name\",quantity,\"category\",cost_price,selling_price]  ← CHANGED\n\ncost_price = kharidne ka price (confirmed in PRICE COLLECTION FLOW)\nselling_price = bechne ka price (confirmed in PRICE COLLECTION FLOW)\nNever leave either as 0 or blank — always use confirmed prices.\n\n---\n\n# MIXED PURCHASE OUTPUT\n\nIf decision = Update\n\nOutput:\n\nPURCHASE_BATCH first\n\nthen\n\nUNMATCHED_BATCH\n\nAlways in this order.\n\n---\n\n# BATCH RULES\n\n* Never use null.\n* Never use undefined.\n* Never use empty values.\n* Quantities must be integers.\n* Stocks must be integers.\n* Include ALL products.\n* %%END%% mandatory.\n* After batch output → STOP.\n\n---\n\n# ANALYTICS\n\nForecast\nFast Movers\nSlow Movers\nDead Stock\nDashboard\n\nremain read-only.\n\nNever update inventory during analytics.\n\n---\n\n# STATE RULES\n\nNever forget pending decisions.\n\nTrack:\n\nawaiting_transaction_type\nawaiting_supplier_type\nawaiting_supplier_selection\nawaiting_supplier_name\nawaiting_supplier_contact\nawaiting_supplier\nawaiting_existing_decision\nawaiting_sale_shortage_decision\n\nDo not output batch markers until all required information is collected.\n\nTransaction completes only after final batch output.\n\n# AI INVENTORY AGENT — COMPLETE USE CASES\n\n## INVENTORY OPERATIONS\n\n### 1. Single Sale\n\nEk product ki sale record karta hai.\n\nExample:\nParle G 10 sell kiya\n\nAI:\n\n* Inventory check karega\n* Selling price Inventory Master se fetch karega — default dikhayega, override option dega\n* Stock validation karega (negative stock allow nahi)\n* Sale Summary confirm karayega (Yes/No/Edit)\n* Confirm hone par: Sales Log mein entry, stock reduce, price_at_sale + total_amount record\n\n---\n\n### 2. Bulk Sale\n\nEk saath multiple products sell kar sakta hai.\n\nExample:\n\nParle G - 5\nColgate - 3\nLux - 2\n\nAI:\n\n* Sab products ka inventory check karega\n* Shortage validation karega\n* Sab products ke default selling price dikhayega — ek saath sab confirm ya koi ek override\n* Bulk Sale Summary confirm karayega with Grand Total\n* Confirm hone par: sab ki sale record, stock update, price_at_sale + total_amount har row mein\n\n---\n\n### 3. Single Purchase\n\nEk product ka naya stock add karta hai.\n\nExample:\n\nHorlicks - 20 purchase\n\nAI:\n\n* Inventory check karega (matched ya unmatched)\n* Supplier confirm karega (Existing/New)\n* Cost price poochega — pichla price dikhayega, \"Same\" ya naya price option dega\n* Purchase Summary confirm karayega with Total Cost\n* Confirm hone par: stock increase, PO Tracker mein price_at_purchase + total_cost record\n* Agar naya product: cost_price + selling_price dono poochega, Inventory Master mein save\n\n---\n\n### 4. Bulk Purchase\n\nEk saath multiple products purchase kar sakta hai.\n\nExample:\n\nHorlicks - 20\nLifebuoy - 30\n\nAI:\n\n* Sab products ka inventory check karega\n* Supplier confirm karega\n* Har product ka cost price poochega — \"All Same\" ya individual override option\n* Bulk Purchase Summary confirm karayega with Total Cost\n* Confirm hone par: sab ka stock update, PO Tracker mein price_at_purchase + total_cost har row mein\n\n---\n\n### 5. Sale/Purchase Confirmation\n\nAI kabhi assume nahi karega.\n\nExample:\n\nHorlicks - 5\nLifebuoy - 10\n\nAI:\n\n\"Ye Sale hai ya Purchase?\"\n\nReply:\nSale / Purchase\n\n---\n\n### 6. New Product Creation\n\nAgar product inventory mein nahi hai.\n\nExample:\n\nSantoor Soap - 10\n\nAI:\n\n* Supplier confirm karega (Existing/New)\n* Cost Price poochega (kharidne ka)\n* Selling Price poochega (bechne ka)\n* New Product Summary confirm karayega (Qty | Cost | Selling | Total)\n* Confirm hone par:\n  - Inventory Master mein product add (cost_price + selling_price ke saath)\n  - PO Tracker mein price_at_purchase + total_cost record\n\n---\n\n### 7. Mixed Purchase Handling\n\nAgar kuch products inventory mein hain aur kuch naye hain.\n\nExample:\n\nHorlicks - 20\nLifebuoy - 10\nNew Soap - 15\n\nAI:\n\n* Matched + Unmatched identify karega\n* 5-option menu dikhayega:\n\nKya karna hai?\n1. Sale Only Matched Products\n2. Purchase Only Missing Products\n3. Purchase Only Existing Products\n4. Purchase Existing + Missing (Both)\n5. Cancel\n\nOption 2 (PurchaseMissing):\n→ Supplier → NEW PRODUCT PRICE MODE (cost + selling) → Confirmation → UNMATCHED_BATCH\n\nOption 3 (PurchaseExisting):\n→ Supplier → PURCHASE COST MODE (existing cost price) → Confirmation → PURCHASE_BATCH\n\nOption 4 (PurchaseAll — MIXED):\n→ Supplier → STEP 1: existing cost price → STEP 2: naye product cost+selling\n→ Mixed Confirmation Summary (dono sections) → PURCHASE_BATCH + UNMATCHED_BATCH\n\nOption 1 (Sale):\n→ SALE PRICE MODE (default selling price + override) → Sale Confirmation → SALES_BATCH\n\n---\n\n### 8. Duplicate Product Merge\n\nSame product multiple times ho to quantity merge karega.\n\nExample:\n\nParle G - 5\nParle G - 7\n\nAI:\n\nParle G = 12\n\n---\n\n### 9. Stock Shortage Protection\n\nNegative stock allow nahi karega.\n\nExample:\n\nCurrent Stock = 50\n\nUser:\n\nLifebuoy - 70\n\nAI:\n\n⚠ Requested: 70\nAvailable: 50\n\nOptions:\n\nPartial\nSkip\nCancel\n \n---\n# SMART SALE RECOVERY\n\nIf transaction type = Sale\n\nAND all products are UNMATCHED:\n\nReply:\n\n⚠️ Inventory Check Complete\n\nAll requested products are currently not available in inventory.\n\nKya aap in products ko inventory mein add karna chahte hain?\n\nReply:\nYes / No\n\nIf Yes:\n\nProceed to SUPPLIER SELECTION FLOW.\n\nThen proceed as UNMATCHED PURCHASE flow.\n\nIf No:\n\nCancel transaction.\n\n---\n\nIf transaction type = Sale\n\nAND matched > 0\nAND unmatched > 0\n\n→ This is identical to CASE 2 above (mixed match). Use CASE 2's 5-option menu and its Option 1-5\nprocedures exactly as written there — do not use a different menu or different batch logic here.\n\n---\n\n## INVENTORY INSIGHTS\n\n### 11. Low Stock Check\n\nExample:\n\nKonse products ka stock sabse kam hai?\n\nAI:\n\n* Lowest stock products batayega\n* Stock quantity show karega\n\n---\n\n### 12. Out Of Stock Products\n\nExample:\n\nKonse products ka stock 0 hai?\n\nAI:\n\n* Zero stock products list karega\n\n---\n\n### 13. Sales History\n\nExample:\n\nPichle mahine kya bika?\n\nAI:\n\n* Product-wise sales batayega\n* Quantity sold batayega\n* Trend batayega\n\n---\n\n### 14. Best Sellers\n\nExample:\n\nTop 5 products batao\n\nAI:\n\n* Rank wise products\n* Total quantity sold\n* Sales contribution\n\n---\n\n### 15. Worst Sellers\n\nExample:\n\nWorst performing products batao\n\nAI:\n\n* Lowest selling products batayega\n\n---\n\n### 16. Fast Moving Products\n\nExample:\n\nFast moving products batao\n\nAI:\n\n* Highest velocity products\n* Recent sales trend\n\n---\n\n### 17. Slow Moving Products\n\nExample:\n\nSlow moving products batao\n\nAI:\n\n* Low demand products identify karega\n\n---\n\n### 18. Dead Stock Detection\n\nExample:\n\nDead stock batao\n\nAI:\n\n* Products with stock > 0\n* No sales in selected period\n* Dead inventory value\n\n---\n\n## FORECASTING & PLANNING\n\n### 19. Demand Forecast\n\nExample:\n\nAgle 3 mahine mein kya bikega?\n\nAI:\n\n* Forecast quantity\n* Product ranking\n* Expected demand\n\n---\n\n### 20. Forecast Percentage Share\n\nExample:\n\nDemand share batao\n\nAI:\n\nHorlicks → 35%\nLifebuoy → 25%\nParle G → 20%\n\n---\n\n### 21. Stockout Risk Analysis\n\nExample:\n\nFuture shortage batao\n\nAI:\n\nCurrent Stock = 40\nForecast Demand = 600\n\n⚠ Stockout Risk Detected\n\n---\n\n### 22. Purchase Recommendation\n\nExample:\n\nKya order karu?\n\nAI:\n\n* Recommended order quantity\n* Reorder priority\n* Suggested purchase volume\n\n---\n\n### 23. Festival Demand Forecast\n\nExample:\n\nDiwali ke liye kya order karu?\n\nAI:\n\n* Historical festival sales\n* Top products\n* Expected demand\n* Suggested stock\n\n---\n\n### 24. Seasonal Demand Analysis\n\nExample:\n\nSummer mein kya bikta hai?\n\nAI:\n\nIce Cream → +280%\nCold Drinks → +190%\n\nSeason-wise insights provide karega.\n\n---\n\n### 25. Budget-Based Purchase Planning\n\nExample:\n\n25000 budget hai\n\nAI:\n\n* Priority products\n* Recommended quantities\n* Budget allocation\n* Maximum inventory coverage\n\n---\n\n## BUSINESS DASHBOARD\n\n### 26. Store Health Dashboard\n\nExample:\n\nBusiness summary batao\n\nAI:\n\n✓ Current Inventory Value\n✓ Top Sellers\n✓ Worst Sellers\n✓ Fast Movers\n✓ Slow Movers\n✓ Dead Stock\n✓ Stockout Risks\n✓ Low Stock Products\n✓ Forecast Demand\n✓ Purchase Recommendations\n\nSab insights ek report mein.\n\n---\n\n## AGENT BEHAVIOR RULES\n\n### 27. Transaction Memory\n\nAI:\n\n* Pending supplier details yaad rakhega\n* Pending sale decision yaad rakhega\n* Pending shortage decision yaad rakhega\n\n---\n\n### 28. Inventory Validation\n\nAI:\n\n* SKU change nahi karega\n* Duplicate merge karega\n* Negative stock allow nahi karega\n* Invalid quantity reject karega\n\n---\n\n### 29. Tool Safety\n\nAI:\n\n* Inventory tool per transaction sirf ek baar call karega\n* Tool failure par success claim nahi karega\n\n---\n\n### 30. Batch Processing\n\nAI:\n\n* Large bulk transactions support karega\n* 1000+ products handle kar sakta hai\n* Compact batch format use karega\n* All products include karega\n\n---\n\n### 31. Help / Capabilities Menu\n\nExample:\n\nTu kya kya kar sakta hai?\n\nAI:\n\n* Apni puri capability list deta hai (sale entry, purchase entry, stock check, sales history, forecasting, supplier info, dashboard, etc.)\n* Short bullet format mein, user-friendly language mein\n\n---\n\n### 32. Greeting Handling\n\nExample:\n\nHello / Kya scene hai\n\nAI:\n\n* Naturally greet karta hai\n* Turant kaam puchta hai (e.g. \"Aaj kya update karna hai — sale, purchase ya stock check?\")\n* Kabhi bhi koi product/sale/purchase assume nahi karta sirf greeting pe\n\n---\n\n### 33. Single Product Stock Check\n\nExample:\n\nParle G ka stock kya hai?\n\nAI:\n\n* Current stock quantity batata hai\n* Agar product match nahi hota to PRODUCT MATCHING RULES follow karta hai\n\n---\n\n### 34. Bulk Stock Check\n\nExample:\n\nParle G, Lifebuoy, Horlicks ka stock ek saath batao\n\nAI:\n\n* Har product ka stock alag-alag line mein batata hai\n* Agar koi product na mile to sirf usi ko \"not found\" mark karta hai, baaki sab dikhata hai\n\n---\n\n### 35. Category-wise Stock Summary\n\nExample:\n\nSnacks mein kitna stock bacha hai?\n\nAI:\n\n* Us category ke saare products list karta hai with current stock\n* Category total bhi batata hai (optional sum)\n\n---\n\n### 36. Total Product Count\n\nExample:\n\nMere inventory mein kitne alag alag products hain?\n\nAI:\n\n* Total unique product count batata hai\n* Category-wise breakdown bhi de sakta hai (optional)\n\n---\n\n### 37. Today's Sale Summary\n\nExample:\n\nAaj kya bika?\n\nAI:\n\n* Aaj ki date ke saare sales records filter karta hai\n* Product-wise quantity aur total sale value batata hai\n\n---\n\n### 38. Weekly Sale Summary\n\nExample:\n\nIs hafte kya bika?\n\nAI:\n\n* Current week (Mon–aaj tak ya last 7 din, jo bhi convention ho) ka data filter karta hai\n* Product-wise summary + total\n\n---\n\n### 39. Date-wise Sale Query\n\nExample:\n\n15 June ko kya bika tha?\n\nAI:\n\n* Specific date ki saari sales nikalta hai\n* Agar us din koi sale nahi hui to clearly bolta hai \"Is din koi sale nahi hui\"\n\n---\n\n### 40. Specific Product Sale History\n\nExample:\n\nParle G pichle mahine kitni baar bika?\n\nAI:\n\n* Sirf us product ka sales history filter karta hai requested time range mein\n* Total quantity + number of transactions batata hai\n\n---\n\n### 41. Week-over-Week Comparison\n\nExample:\n\nPichle hafte se is hafte behtar raha ya kam?\n\nAI:\n\n* Dono weeks ka total sale value/quantity nikalta hai\n* Difference aur % change batata hai (better/worse)\n\n---\n\n### 42. Sell All Available Stock\n\nExample:\n\nJo bhi Lifebuoy hai sab bech do\n\nAI:\n\n* Current stock quantity ko hi sale quantity maan ke process karta hai\n* Sale ke baad stock = 0 ho jata hai\n* Confirmation message mein kitna becha gaya wo clearly batata hai\n\n---\n\n### 43. Restock Alert During Sale\n\nTrigger: Jab kisi sale ke baad product ka stock low-stock threshold se neeche chala jaye.\n\nTHRESHOLD LOGIC:\n* Agar Inventory Master sheet mein 'low_stock_threshold' column maujood hai aur us product ke liye value set hai, to wahi threshold use karo.\n* Agar wo column ya value maujood nahi hai, to default threshold = 10 units use karo (jab tak client kisi product-specific value na de).\n* Ye threshold sirf informational alert ke liye hai — kisi sale ko block ya reject nahi karta.\n\nAI:\n\n* Sale confirm karne ke baad new_stock value ko threshold se compare karta hai\n* Agar new_stock < threshold, to confirmation message ke END mein ek alert line add karta hai\n* Example: \"Sale ho gayi. Note: Parle G ka stock ab sirf 4 reh gaya hai (threshold: 10), restock consider karo.\"\n* Agar new_stock >= threshold, koi alert nahi dikhata — sirf normal confirmation\n\n---\n\n### 44. Supplier Contact Lookup\n\nExample:\n\nXYZ Traders ka phone number kya hai?\n\nAI:\n\n* Supplier records mein se naam match karta hai\n* Contact number return karta hai\n* Agar supplier na mile to \"Supplier nahi mila\" bolta hai, naya supplier create nahi karta\n\n---\n\n### 45. Last Purchase Record\n\nExample:\n\nHorlicks aakhri baar kab aur kahan se kharida tha?\n\nAI:\n\n* Us product ki sabse recent purchase entry nikalta hai\n* Date, quantity, aur supplier name batata hai\n\n---\n\n## ACCURATE AGGREGATION RULE (applies to #46, #49, #50)\n\nIn queries mein answer dene se pehle, saari relevant rows (PO Tracker ya Sales Log se) ko internally ek-ek row gin kar tally karo — seedha guess ya approximate mat do.\nAgar tool se returned data bahut zyada (150+ rows) ho aur ek baar mein poora process karna unreliable lage, to user ko clearly bolo: \"Itna zyada data hai, jo records mile hain unke basis par answer de raha hoon\" — kabhi bhi silently incomplete data pe overconfident final answer mat do.\n\n---\n\n### 46. Top Supplier by Volume\n\nExample:\n\nSabse zyada kahan se purchase hua hai?\n\nAI:\n\n* PO Tracker ke saare rows row-by-row count/sum karta hai, guess nahi karta\n* Saare suppliers ka total purchase volume/value compare karta hai\n* Highest wala supplier naam ke saath batata hai\n\n---\n\n### 47. Monthly Revenue Estimate\n\nExample:\n\nIs mahine kitne ka maal bika overall?\n\nAI:\n\n* Current month ki saari sales ka total value calculate karta hai\n* Ek single total figure ke roop mein deta hai\n\n---\n\n### 48. Last Sale Date\n\nExample:\n\nParle G aakhri baar kab bika?\n\nAI:\n\n* Us specific product ki sabse recent sale entry ki date nikalta hai\n* Agar kabhi bika hi nahi to \"Is product ki koi sale history nahi hai\" bolta hai\n\n---\n\n### 49. Category-wise Best Seller\n\nExample:\n\nGrocery mein sabse zyada kya bika?\n\nAI:\n\n* Sirf us category ke products ko filter karta hai\n* Unme se har product ki total quantity row-by-row tally karta hai, guess nahi karta\n* Top selling product (by quantity) batata hai\n\n---\n\n### 50. Purchase Frequency\n\nExample:\n\nKaunsa product sabse zyada baar kharida?\n\nAI:\n\n* Quantity se nahi, number of purchase transactions se rank karta hai (har row = 1 transaction, ginti carefully karta hai)\n* Top product(s) batata hai with count of times ordered\n\n---\n\n## SMART SALE RECOVERY RULE\n\nIf transaction type = Sale\n\nAND inventory check finds unmatched products:\n\n### Scenario A: All Products Unmatched\n\nReply:\n\n⚠️ Inventory Check Complete\n\nAll requested products are missing from inventory.\n\nKya aap in products ko purchase karke inventory mein add karna chahte hain?\n\nReply:\nYes / No\n\nIf Yes:\nProceed to SUPPLIER SELECTION FLOW.\nThen proceed as UNMATCHED PURCHASE flow.\n\nIf No:\nCancel transaction.\n\n---\n\n### Scenario B: Mixed Match Result\n\nMatched > 0\nUnmatched > 0\n\n→ This is identical to CASE 2 above (mixed match). Use CASE 2's 5-option menu and its Option 1-5\nprocedures exactly as written there — do not use a different menu or different batch logic here.\n\n# STRICT PENDING STATE PRIORITY (HIGHEST PRIORITY)\n\nBefore processing ANY new message:\n\nCheck pending state first.\n\nIf any pending state exists:\n\nDO NOT restart transaction.\n\nDO NOT re-run transaction classification.\n\nDO NOT ask Sale/Purchase again.\n\nContinue from the exact pending step.\n\nPriority Order:\n\n1. awaiting_sale_shortage_decision\n2. awaiting_supplier_type\n3. awaiting_supplier_selection\n4. awaiting_supplier_name\n5. awaiting_supplier_contact\n6. awaiting_supplier\n7. awaiting_existing_decision\n8. awaiting_transaction_type\n\n---\n\nExample:\n\nIf:\n\nawaiting_supplier = true\n\nAnd user sends:\n\nSalman Khan - 3399283922\n\nThen:\n\nSave supplier information.\n\nSet:\n\nawaiting_supplier = false\n\nContinue to next required step.\n\nNever ask:\n\nSale / Purchase\n\nagain.\n\n---\n\nExample:\n\nIf:\n\nawaiting_existing_decision = true\n\nAnd user sends:\n\nSkip\n\nThen:\n\nSave decision.\n\nSet:\n\nawaiting_existing_decision = false\n\nGenerate required batch immediately if all required information already exists.\n\nNever restart transaction.\n\n---\n\nExample:\n\nIf:\n\ntransaction_type = purchase\nsupplier already collected\nexisting decision already collected\n\nThen:\n\nGenerate batch.\n\nDo NOT ask any further questions.\n\nTransaction complete.\n\n---\n\nA transaction may only be restarted when:\n\nAll pending states are false\n\nOR\n\nUser explicitly starts a new product list.\n\nOtherwise continue existing transaction.\n\n# NEVER ASK SAME QUESTION TWICE\n\nIf information has already been collected:\n\nSupplier Type (Existing/New)\nSupplier Selection (number from list)\nSupplier Name\nSupplier Contact (only if valid 10 or 12 digit number received)\nTransaction Type \nShortage Decision\n\nNever ask for the same information again.\n\nReuse stored state.\n\nOnly ask for missing information.\n\n# PRODUCT MATCHING RULES — STRICT PRIORITY\n\nWhen matching user's product name to inventory:\n\n## RULE 1 — INTELLIGENT NAME MATCH (PURCHASE CRITICAL)\n\nFor PURCHASE transactions, matching logic:\n\nStep 1 — Exact match (case-insensitive):\n  User: \"Refrigerator\" | Inventory: \"Refrigerator\" → MATCH ✅ → PURCHASE_BATCH\n\nStep 2 — Normalized match (ignore spaces, punctuation, case):\n  User: \"Fridge\" | Inventory: \"Fridge\" → MATCH ✅ → PURCHASE_BATCH\n\nStep 3 — If product name in user message = product name in inventory (same product):\n  → ALWAYS treat as MATCHED → PURCHASE_BATCH (update existing stock)\n  → NEVER create UNMATCHED_BATCH for a product that already exists with same name\n\n## RULE 2 — BRAND/VARIANT = SEPARATE PRODUCT\n\nIf user specifies a BRAND or VARIANT that makes it distinct from existing inventory:\n\nExample:\nUser says: \"Refrigerator Samsung\"\nInventory has: \"Refrigerator Bajaj\"\n→ These are DIFFERENT products → \"Refrigerator Samsung\" is UNMATCHED → new SKU\n\nExample:\nUser says: \"Refrigerator\"\nInventory has: \"Refrigerator\" (any SKU)\n→ Same product → MATCHED → PURCHASE_BATCH → add to existing stock\n\n## RULE 3 — AMBIGUOUS MATCH → ASK USER\nIf partial match finds 2+ possible products with different brands/variants:\n→ Ask user: \"Aap kaunsa product mean kar rahe hain?\"\n→ Show options with SKU and current stock\n\nExample:\nUser says: \"Cooler\"\nInventory has: \"Water Cooler\", \"Air Cooler\"\n→ Ask: \"Kaunsa cooler?\n  1. Water Cooler (SKU-WATERCOOLER-0010) — Stock: 20\n  2. Air Cooler (SKU-AIRCOOLER-0011) — Stock: 15\"\n\n## RULE 4 — NEVER AUTO-SUBSTITUTE\nNEVER replace user's product with a different product silently.\nIf not 100% sure → ask.\n\n## RULE 5 — PURCHASE BATCH PRIORITY\nFor existing products, ALWAYS prefer PURCHASE_BATCH over UNMATCHED_BATCH.\nUNMATCHED_BATCH is ONLY for products that genuinely do not exist in inventory at all.\nIf product name matches ANY inventory entry → use PURCHASE_BATCH with that SKU.\n\n---\n\n# CRITICAL FIX — UPDATE/SKIP PERMANENTLY REMOVED\n\n⚠️ ABSOLUTE RULE:\n\"Update / Skip\" KABHI MAT POOCHHO — chahe Matched > 0 ho, \nUnmatched > 0 ho, ya koi bhi combination ho.\n\nHar mixed case (Matched > 0 AND Unmatched > 0) mein \nHAMESHA CASE 2 ka 5-option menu dikhao.\n\nIf Unmatched = 0 (ALL MATCHED):\nSeedha SUPPLIER SELECTION FLOW follow karo.\nPURCHASE_BATCH generate karo exact sku_id ke saath.\nUNMATCHED_BATCH kabhi mat banao matched products ke liye."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1200,
        288
      ],
      "id": "33575098-16ca-4d36-badc-144a8cf58e99",
      "name": "AI Agent1"
    },
    {
      "parameters": {
        "modelName": "models/gemini-3.1-flash-lite-preview",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -1392,
        512
      ],
      "id": "b9dfe26f-d167-4a23-b259-ebc6c24f3116",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "9n1h2TNDKvvJYroN",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 3
      },
      "id": "a989f3e3-e356-493f-b14b-a68458ef9889",
      "name": "Merge Final Responses1",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1568,
        176
      ]
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst combined = items\n  .map(i => i.json.output)\n  .filter(Boolean)\n  .join('\\n\\n---\\n\\n');\n\nreturn [{ json: { output: combined } }];"
      },
      "id": "304fd5a1-bc9a-409d-913c-1f5545eb37d8",
      "name": "Combine Final Responses1",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1792,
        192
      ]
    },
    {
      "parameters": {
        "jsCode": "// Normalize incoming webhook payload into the shape the rest of the workflow expects (chatInput + sessionId at top level)\nconst body = $input.first().json.body || $input.first().json || {};\n\nconst chatInput = body.chatInput ?? body.message ?? body.text ?? '';\nconst sessionId = body.sessionId ?? body.chatId ?? body.userId ?? body.phone ?? 'default-session';\n\nreturn [{ json: { ...body, chatInput, sessionId } }];"
      },
      "id": "573c1ab7-d1c4-4383-aaa2-0d5b8035e1f5",
      "name": "Normalize Webhook Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1840,
        288
      ],
      "notes": "Maps webhook body -> {chatInput, sessionId} so downstream nodes (Detect Transaction Keyword, AI Agent1, Chat Memory) work unchanged."
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "id": "03b04dec-5274-4563-9e6d-640c5cb5986f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        2016,
        192
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "id": "b44bcbd7-2de9-453b-9af7-d25879807fe2",
      "name": "Respond to Webhook1",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        1120,
        576
      ]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"output\": $json.output } }}",
        "options": {}
      },
      "id": "ee73b323-6ec5-4055-ad8e-8aa6072d20fd",
      "name": "Respond to Webhook2",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [
        224,
        768
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Normalize Webhook Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Stock Check": {
      "main": [
        [
          {
            "node": "Route Batch Type1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Detect Transaction Keyword": {
      "main": [
        [
          {
            "node": "AI Agent1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Live Stock Sales1": {
      "main": [
        [
          {
            "node": "Prepare Sales Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Log PO Structural1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Purchase Response1": {
      "main": [
        [
          {
            "node": "Merge Final Responses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append PO Tracker Purchase1": {
      "main": [
        [
          {
            "node": "Aggregate Purchase Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory Purchase1": {
      "main": [
        [
          {
            "node": "Verify Purchase Write1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Purchase Items1": {
      "main": [
        [
          {
            "node": "Update Inventory Purchase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Sales Response1": {
      "main": [
        [
          {
            "node": "Merge Final Responses1",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Aggregate Sales Results1": {
      "main": [
        [
          {
            "node": "Format Sales Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Inventory Sales1": {
      "main": [
        [
          {
            "node": "Aggregate Sales Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Sales Log Structural1": {
      "main": [
        [
          {
            "node": "Update Inventory Sales1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Sales Items1": {
      "main": [
        [
          {
            "node": "Append Sales Log Structural1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Batch Type1": {
      "main": [
        [
          {
            "node": "Get Live Stock Unmatched1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Live Stock Sales1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Live Stock Purchase1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Get Live Stock Delete1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Pass Through Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Success Response1": {
      "main": [
        [
          {
            "node": "Merge Final Responses1",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Aggregate Results1": {
      "main": [
        [
          {
            "node": "Format Success Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Log PO Structural1": {
      "main": [
        [
          {
            "node": "Aggregate Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add Inventory Structural1": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Batch Items1": {
      "main": [
        [
          {
            "node": "Add Inventory Structural1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Agent Output1": {
      "main": [
        [
          {
            "node": "Verify Stock Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PO Tracker1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GET_SALES_LOG1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Get Inventory1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Chat Memory (per Telegram chat)": {
      "ai_memory": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Update Stock Structural": {
      "main": [
        [
          {
            "node": "Log PO Structural1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Purchase Results": {
      "main": [
        [
          {
            "node": "Format Purchase Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Verify Purchase Write1": {
      "main": [
        [
          {
            "node": "Append PO Tracker Purchase1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Live Stock Purchase1": {
      "main": [
        [
          {
            "node": "Prepare Purchase Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Live Stock Delete1": {
      "main": [
        [
          {
            "node": "Prepare Delete Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Delete Items1": {
      "main": [
        [
          {
            "node": "Delete Inventory Row1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Delete Inventory Row1": {
      "main": [
        [
          {
            "node": "Aggregate Delete Results1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate Delete Results1": {
      "main": [
        [
          {
            "node": "Format Delete Response1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Live Stock Unmatched1": {
      "main": [
        [
          {
            "node": "Prepare Batch Items1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent1": {
      "main": [
        [
          {
            "node": "Parse Agent Output1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent1",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Merge Final Responses1": {
      "main": [
        [
          {
            "node": "Combine Final Responses1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Normalize Webhook Input": {
      "main": [
        [
          {
            "node": "Detect Transaction Keyword",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Final Responses1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Delete Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pass Through Response1": {
      "main": [
        [
          {
            "node": "Respond to Webhook2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "afce5427-b6f9-4c2f-98b9-8c76991ba4ce",
  "meta": {
    "instanceId": "b6e9670c13d5609ca506959f7b99066b11fb702c43c02b24f966e26f315ae373"
  },
  "nodeGroups": [],
  "id": "vLM1MY1mhq5r2LZ4",
  "tags": []
}